<div class="studentWrapper">
  <div class="tab-content">
    <div class="row">
      <div class="col-md-8">
        <div id="videoBox"></div>
      </div>
      <div class="col-md-4">
        sldjllkfd
      </div>
      <div class="videoPlayBox">

      </div>
    </div>
    <div class="row">
      <ul class="media-list videoList">
        <li class="media" ng-repeat="video in videoData">
          <div class="media-left" ng-click="showVideo(video.VID)">
            <a href="javascript:void(0)" class="media-left-a">
              <img class="media-object" ng-src="{{video.Detail.data[0].images_b[0]}}" style="width: 160px;height: 100px">
              <img src="images/play1.png" alt="" class="playIcon"/>
              <span class="shiChang" ng-bind="video.Duration | myLocalDate:'vd'"></span>
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading"  ng-click="showVideo(video.VID)">
              <a href="javascript:void(0)" class="videoName" ng-bind="video.VideoName"></a>
            </h4>
            <div class="videoInfo">
              <p ng-bind="video.OwnerName"></p>
              <p>
                <span ng-bind="video.CreateTime | date:'yyyy-MM-dd'"></span> | <span>录课</span>
              </p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
