<div class="studentWrapper">
  <div class="tab-content p10">
    <div class="row">
      <ul>
        <li>
          <a href="#">报名测试考试一</a>
        </li>
        <li>
          <a href="#">报名测试考试二</a>
        </li>
      </ul>
    </div>
    <div class="row">
      <table class="table-bordered">
        <tr ng-repeat="bm in bmKaoChang">
          <td>
            <span>{{bm.ksStart | myLocalDateWithWeek}}</span>--
            <span>{{bm.ksEnd | myLocalDateWithWeek}}</span>
          </td>
          <td ng-repeat="kd in bm.ksKc">
            <label>
              <input type="radio" name="kaoDian" ng-click="getSelectKd(kd)">{{kd.KAODIANMINGCHENG}}
            </label>
          </td>
        </tr>
      </table>
    </div>
    <div class="row">
      <button type="button" class="btn btn-success" ng-click="saveStudentSelcet()">
        查询考试
      </button>
      <button type="button" class="btn btn-success">
        查询考试
      </button>
    </div>
  </div>
</div>
