<div class="studentWrapper">
  <div class="tab-content p10">
    <div class="row wp80">
      <table class="table table-bordered baoMingTable">
        <tr>
          <th>考试名称</th>
          <th>考试时长(分钟)</th>
          <th>报名截止时间</th>
          <th>操作</th>
        </tr>
        <tr ng-repeat="ks in kaoShiArrs">
          <td ng-bind="ks.KAOSHIMINGCHENG"></td>
          <td ng-bind="ks.KAOSHISHICHANG"></td>
          <td ng-bind="ks.BAOMINGJIEZHISHIJIAN | myLocalDateWithWeek"></td>
          <td>
            <a href="javascript:void(0)" class="ml15" ng-show="ks.BAOMINGKAODIAN_ID || ks.BAOMINGKAOSHISHIJIAN_ID"
               ng-click="qryKaoShiDetail(ks)">详情</a>
            <a href="javascript:void(0)" class="ml15" ng-hide="ks.BAOMINGKAODIAN_ID || ks.BAOMINGKAOSHISHIJIAN_ID"
               ng-click="chaXunBaoMing(ks)">报名</a>
          </td>
        </tr>
      </table>
    </div>
    <div class="row wp80" ng-show="kaoShiDetail">
      <p ng-repeat="dt in kaoShiDetail">
        <span>考试时间：{{dt.ksShijian}}</span>
        <span class="ml15">考场：{{dt.KAODIANMINGCHENG}}</span>
      </p>
    </div>
    <div class="row wp80" ng-hide="stuParams.hasBaoMing">
      <table class="table table-bordered jg-table">
        <tr>
          <th class="text-center">时间</th>
          <th class="text-center" colspan="{{bmKaoChang[0].ksKc.length}}">
            考场
          </th>
        </tr>
        <tr ng-repeat="bm in bmKaoChang">
          <td ng-bind="bm.ksShiJian">
          </td>
          <td ng-repeat="kd in bm.ksKc">
            <input type="radio" name="kaoDian" ng-click="getSelectKd(kd)" ng-hide="kd.KAOWEI == kd.BAOMING_RENSHU">
            <span ng-bind="kd.KAODIANMINGCHENG"></span>
            <span>(考位:{{kd.KAOWEI}})</span>
            <span>(剩余:{{kd.KAOWEI - kd.BAOMING_RENSHU || kd.KAOWEI}})</span>
          </td>
        </tr>
      </table>
      <button type="button" class="btn btn-success pull-right" ng-click="saveStudentSelcet()">
        保存选择
      </button>
    </div>
  </div>
</div>
