<div class="studentWrapper">
  <div class="tab-content p10">
    <div class="row">
      <ul>
        <li>
          <a href="#">报名测试考试一</a>
        </li>
        <li>
          <a href="#">报名测试考试二</a>
        </li>
      </ul>
    </div>
    <div class="row">
      <table>
        <tr>
          <td>考场一</td>
          <td>考场二</td>
        </tr>
      </table>
    </div>
    <div class="row">
      <button type="button" class="btn btn-success" ng-click="cancelAddPattern()">
        查询考试
      </button>
    </div>
  </div>
</div>
