@charset "UTF-8";
body {
  font-family: Helvetica, Tahoma, Arial, "Microsoft YaHei", "微软雅黑", SimSun, "宋体", STXihei, "华文细黑", Heiti, "黑体", sans-serif;
  color: #67717e; }

.h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: Helvetica, Tahoma, Arial, "Microsoft YaHei", "微软雅黑", SimSun, "宋体", STXihei, "华文细黑", Heiti, "黑体", sans-serif; }

/*base css begin*/
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3,
.col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6,
.col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9,
.col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11,
.col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  padding-left: 5px;
  padding-right: 5px; }

.container {
  width: 10px;
  width: 100%; }

.footer {
  display: none; }

.wp10 {
  width: 10%; }

.wp15 {
  width: 15%; }

.wp20 {
  width: 20%; }

.wp30 {
  width: 30%; }

.wp40 {
  width: 40%; }

.wp50 {
  width: 50%; }

.wp60 {
  width: 60%; }

.wp70 {
  width: 70%; }

.wp75 {
  width: 75%; }

.wp80 {
  width: 80%; }

.wp90 {
  width: 90%; }

.wp100 {
  width: 100%; }

.mt15 {
  margin-top: 15px; }

.mt30 {
  margin-top: 30px; }

.pl10 {
  padding-left: 10px; }

.pt10 {
  padding-top: 10px; }

.co676767 {
  color: #676767; }

.btn {
  padding: 3px 12px; }

.radius4 {
  border-radius: 4px; }

.row {
  margin-left: 0;
  margin-right: 0; }

a.add-btn:hover span {
  color: #00CC33; }

.form-header {
  margin-bottom: 10px; }
  .form-header .form-th {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 15px; }

.form-body .radio {
  width: 20px;
  height: 20px;
  cursor: pointer;
  border: 2px solid #6c92ff;
  margin-top: 6px;
  padding: 0; }
  .form-body .radio span {
    width: 20px;
    height: 20px;
    top: 0px;
    margin-right: 0px;
    color: #00CC00;
    display: none; }
  .form-body .radio:hover span {
    display: block; }
.form-body .radio-select span {
  display: block; }
.form-body .delete-this-tiem {
  color: #ccc;
  top: 6px;
  margin-right: 15px; }
.form-body .delete-select {
  color: #d9534f;
  cursor: pointer; }

.form-horizontal .form-group {
  margin-right: 0;
  margin-left: 0; }

.logo {
  margin-top: 5px;
  margin-bottom: 15px;
  padding: 0; }
  .logo img {
    height: 32px;
    width: 200px; }

/*base css end*/
/* dashboard styles begin*/
.dashboard {
  width: 120px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #33363b;
  z-index: 10; }
  .dashboard .container {
    padding: 0; }
  .dashboard .list-group {
    width: 100%;
    margin-top: 10px; }
  .dashboard .list-group-item {
    border-radius: 0;
    background: none;
    padding: 10px 0;
    border: 0; }

.dropdownToggle {
  margin-bottom: 0;
  font-size: 115%;
  font-weight: 600;
  color: #67717e;
  display: block;
  width: 100%;
  text-align: center; }

.glyphicon {
  top: 2px;
  margin-right: 5px; }

.nav-icon {
  height: 40px;
  width: 40px;
  margin-left: 40px;
  display: block;
  background: url("../images/mingti/icon/dsIcons.png") no-repeat left 0; }

.nav-name {
  color: #aaa;
  margin-top: -5px;
  display: block;
  font-weight: normal; }

.droTogZj .nav-icon {
  background-position: left -40px; }

.droTogDg .nav-icon {
  background-position: left -80px; }

.droTogKw .nav-icon {
  background-position: left -120px; }

.droTogSp .nav-icon {
  background-position: left -160px; }

.droTogYj .nav-icon {
  background-position: left -200px; }

.dropdownToggle:hover {
  text-decoration: none; }
  .dropdownToggle:hover .nav-icon {
    background-position-x: right; }
  .dropdownToggle:hover .nav-name {
    color: #fff; }

.dashboard .active .dropdownToggle {
  text-decoration: none; }
.dashboard .active .nav-icon {
  background-position-x: right; }
.dashboard .active .nav-name {
  color: #fff; }

.toggle-menu {
  list-style: none;
  padding: 0;
  display: none; }

.menuitem {
  padding: 5px 15px 5px 25px;
  display: block;
  text-decoration: none;
  font-size: 14px;
  color: #67717e; }
  .menuitem:hover {
    text-decoration: none;
    color: #262626;
    background: url("../images/mingti/icon/icon-right.png") no-repeat 10px 12px; }

.select:focus {
  text-decoration: none;
  color: #262626;
  background: url("../images/mingti/icon/icon-right.png") no-repeat 10px 12px; }

.userInfo {
  text-align: center;
  margin-top: 15px; }
  .userInfo a {
    text-decoration: none;
    font-size: 100%;
    color: #efefef;
    margin-top: 5px;
    margin-left: 5px;
    text-align: center; }
    .userInfo a:hover {
      color: #62AC19;
      text-decoration: underline; }

.dsfoldBox {
  border-top: 1px solid #7f7f7f;
  height: 30px;
  position: absolute;
  bottom: 0;
  width: 100%; }
  .dsfoldBox a {
    display: block;
    height: 30px;
    background: url("../images/mingti/icon/foldIcon.png") no-repeat center 5px; }

/* dashboard styles end*/
.main {
  padding: 0 0 20px 120px; }

.dagangWrapper {
  /*main styles end*/
  /*大纲  开始*/
  /*大纲  end*/ }
  .dagangWrapper .content-title {
    border-bottom: 1px solid #cfcfcf;
    font-size: 120%;
    height: 60px; }
    .dagangWrapper .content-title .glyphicon {
      top: 4px; }
  .dagangWrapper .itemTitle {
    font-size: 120%;
    font-weight: 600;
    margin-left: 20px; }
  .dagangWrapper .content {
    padding-left: 220px;
    background-color: #fff; }
  .dagangWrapper .subDashboard {
    width: 221px;
    height: 100%;
    position: fixed;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    background-color: #f5f5f5;
    border-right: 1px solid #cfcfcf; }
    .dagangWrapper .subDashboard .btn {
      width: 180px;
      text-align: left; }
    .dagangWrapper .subDashboard span.caret {
      float: right;
      margin-top: 8px; }
    .dagangWrapper .subDashboard .dropdown-menu {
      width: 190px; }
  .dagangWrapper .pointTree {
    margin-top: 10px; }
  .dagangWrapper .list-sheet li {
    margin-top: 5px; }
  .dagangWrapper .list-sheet a {
    padding-left: 15px;
    background: url("../images/mingti/icon/listIcon.png") no-repeat 0 3px; }
  .dagangWrapper .pointTree .checkbox {
    margin-bottom: 2px;
    margin-top: 2px; }
  .dagangWrapper .levelOne li {
    padding-left: 20px;
    position: relative; }
  .dagangWrapper .levelTwo, .dagangWrapper .levelThree {
    display: none; }
  .dagangWrapper .foldBtn {
    position: absolute;
    width: 14px;
    height: 14px;
    left: 0;
    top: 5px;
    cursor: pointer;
    background: url("../images/mingti/icon/tree_icon.png") no-repeat 0 0; }
  .dagangWrapper .unfoldBtn {
    background-position: 0 bottom; }
  .dagangWrapper .dagangInput .col-md-12 {
    margin-top: 20px;
    float: left; }
  .dagangWrapper .dagangInput .btn {
    padding: 6px 12px;
    border-radius: 4px; }
  .dagangWrapper .dagangInput .glyphicon {
    top: 2px;
    margin-right: 0; }
  .dagangWrapper .dgLevel {
    border: 1px solid red; }
  .dagangWrapper .dagangInput .media {
    border: 0;
    margin: 0;
    padding-top: 20px;
    background: url("../images/mingti/icon/sline.jpg") repeat-y 15px 0; }
  .dagangWrapper .dagangInput .dgLevel_1:last-child,
  .dagangWrapper .dagangInput .dgLevel_2:last-child,
  .dagangWrapper .dagangInput .dgLevel_3:last-child,
  .dagangWrapper .dagangInput .dgLevel_4:last-child {
    background: white url("../images/mingti/icon/sline.jpg") no-repeat 15px -2px; }
  .dagangWrapper .dagangInput .lastChild {
    background: white url("../images/mingti/icon/sline.jpg") no-repeat 15px -2px; }
  .dagangWrapper .dagangInput .dagangBox {
    margin-left: 40px;
    margin-top: 10px;
    padding-top: 0; }
  .dagangWrapper .dagangInput .media-object {
    width: 40px;
    height: 34px;
    background: url("../images/mingti/icon/hline.jpg") no-repeat right 17px; }
  .dagangWrapper .dagangInput .media-heading {
    height: 34px;
    margin: 0;
    position: relative;
    /*border: 1px solid red;*/ }
  .dagangWrapper .dagangInput .media-body {
    padding: 0;
    background: url("../images/mingti/icon/sline.jpg") repeat-y 15px 0; }
  .dagangWrapper .dagangInput .media > .pull-left {
    margin-right: 0; }
  .dagangWrapper .dagangInput .col-md-4, .dagangWrapper .dagangInput .col-md-3 {
    padding-left: 0;
    padding-right: 0; }
  .dagangWrapper .dgLevel_0 .dagangName {
    color: #16418b;
    font-size: 18px;
    font-weight: 600;
    line-height: 21px;
    position: relative; }
  .dagangWrapper .dgAddBtn {
    background-color: #d5dadf;
    color: #000; }
  .dagangWrapper .dagangInput .dgAddBtn_0 {
    position: absolute;
    right: -1px;
    top: -1px;
    border-radius: 0 4px 4px 0; }
  .dagangWrapper .dgDeleteBtn {
    background-color: #d5dadf; }
  .dagangWrapper .inlineBlock {
    display: inline-block;
    margin-right: -1px; }
  .dagangWrapper .dgInputWelcome p {
    margin: 20px;
    font-size: 18px; }
