@charset "UTF-8";
.dagangWrapper {
  /*main styles end*/
  /*大纲  开始*/
  /*大纲  end*/ }
  .dagangWrapper .content-title {
    border-bottom: 1px solid #cfcfcf;
    font-size: 120%;
    height: 60px; }
    .dagangWrapper .content-title .glyphicon {
      top: 4px; }
  .dagangWrapper .itemTitle {
    font-size: 120%;
    font-weight: 600;
    margin-left: 20px; }
  .dagangWrapper .content {
    padding-left: 220px;
    background-color: #fff; }
  .dagangWrapper .dagangListWrap {
    width: 221px;
    height: 100%;
    position: fixed;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    background-color: #f5f5f5;
    border-right: 1px solid #cfcfcf; }
    .dagangWrapper .dagangListWrap .btn {
      width: 180px;
      text-align: left; }
    .dagangWrapper .dagangListWrap span.caret {
      float: right;
      margin-top: 8px; }
    .dagangWrapper .dagangListWrap .dropdown-menu {
      width: 190px; }
  .dagangWrapper .pointTree {
    margin-top: 10px; }
  .dagangWrapper .list-sheet li {
    margin-top: 5px; }
  .dagangWrapper .list-sheet a {
    padding-left: 15px;
    background: url("../images/mingti/icon/listIcon.png") no-repeat 0 3px; }
  .dagangWrapper .pointTree .checkbox {
    margin-bottom: 2px;
    margin-top: 2px; }
  .dagangWrapper .levelOne li {
    padding-left: 20px;
    position: relative; }
  .dagangWrapper .levelTwo, .dagangWrapper .levelThree {
    display: none; }
  .dagangWrapper .foldBtn {
    position: absolute;
    width: 14px;
    height: 14px;
    left: 0;
    top: 5px;
    cursor: pointer;
    background: url("../images/mingti/icon/tree_icon.png") no-repeat 0 0; }
  .dagangWrapper .unfoldBtn {
    background-position: 0 bottom; }
  .dagangWrapper .dagangInput .col-md-12 {
    margin-top: 20px;
    float: left; }
  .dagangWrapper .dagangInput .btn {
    padding: 6px 12px;
    border-radius: 4px; }
  .dagangWrapper .dagangInput .glyphicon {
    top: 2px;
    margin-right: 0; }
  .dagangWrapper .dgLevel {
    border: 1px solid red; }
  .dagangWrapper .dagangInput .media {
    border: 0;
    margin: 0;
    padding-top: 20px;
    background: url("../images/mingti/icon/sline.jpg") repeat-y 15px 0; }
  .dagangWrapper .dagangInput .dgLevel_1:last-child,
  .dagangWrapper .dagangInput .dgLevel_2:last-child,
  .dagangWrapper .dagangInput .dgLevel_3:last-child,
  .dagangWrapper .dagangInput .dgLevel_4:last-child {
    background: white url("../images/mingti/icon/sline.jpg") no-repeat 15px -2px; }
  .dagangWrapper .dagangInput .lastChild {
    background: white url("../images/mingti/icon/sline.jpg") no-repeat 15px -2px; }
  .dagangWrapper .dagangInput .dagangBox {
    margin-left: 40px;
    margin-top: 10px;
    padding-top: 0; }
  .dagangWrapper .dagangInput .media-object {
    width: 40px;
    height: 34px;
    background: url("../images/mingti/icon/hline.jpg") no-repeat right 17px; }
  .dagangWrapper .dagangInput .media-heading {
    height: 34px;
    margin: 0;
    position: relative;
    /*border: 1px solid red;*/ }
  .dagangWrapper .dagangInput .media-body {
    padding: 0;
    background: url("../images/mingti/icon/sline.jpg") repeat-y 15px 0; }
  .dagangWrapper .dagangInput .media > .pull-left {
    margin-right: 0; }
  .dagangWrapper .dagangInput .col-md-4, .dagangWrapper .dagangInput .col-md-3 {
    padding-left: 0;
    padding-right: 0; }
  .dagangWrapper .dgLevel_0 .dagangName {
    color: #16418b;
    font-size: 18px;
    font-weight: 600;
    line-height: 21px;
    position: relative; }
  .dagangWrapper .dgAddBtn {
    background-color: #d5dadf;
    color: #000; }
  .dagangWrapper .dagangInput .dgAddBtn_0 {
    position: absolute;
    right: -1px;
    top: -1px;
    border-radius: 0 4px 4px 0; }
  .dagangWrapper .dgDeleteBtn {
    background-color: #d5dadf; }
  .dagangWrapper .inlineBlock {
    display: inline-block;
    margin-right: -1px; }
  .dagangWrapper .dgInputWelcome p {
    margin: 20px;
    font-size: 18px; }
