.kaowuWrapper .active {
  color: #000; }
.kaowuWrapper .sub-nav {
  margin-top: 10px; }
  .kaowuWrapper .sub-nav .nav-tabs li:first-child {
    margin-left: 15px; }
.kaowuWrapper .tab-content {
  padding: 15px; }
