.kaowuWrapper .active {
  color: #000; }
.kaowuWrapper .sub-nav {
  margin-top: 10px; }
  .kaowuWrapper .sub-nav .nav-tabs li:first-child {
    margin-left: 15px; }
.kaowuWrapper .tab-content {
  padding: 15px; }
.kaowuWrapper .kaowu-table th {
  text-align: center; }
.kaowuWrapper .kaowu-table td {
  vertical-align: middle; }
  .kaowuWrapper .kaowu-table td p {
    margin: 0; }
