.mingtiWrapper {
  /*sub dashboard styles begin*/
  /*sub dashboard styles end*/
  /* contentWraps styles begin */
  /* contentWraps styles end */
  /* test list styls begin*/
  /* test list styls end*/ }
  .mingtiWrapper .subDashboard {
    width: 221px;
    height: 100%;
    position: fixed;
    padding-top: 10px;
    background-color: #f5f5f5;
    border-right: 1px solid #cfcfcf; }
    .mingtiWrapper .subDashboard .btn {
      width: 180px;
      text-align: left; }
    .mingtiWrapper .subDashboard span.caret {
      margin-top: 8px;
      margin-right: 10px;
      position: absolute;
      right: 0;
      top: 20%; }
    .mingtiWrapper .subDashboard .dropdownMenu {
      background-color: #fff;
      list-style: none;
      border-radius: 6px;
      border: 1px solid #cfcfcf;
      position: absolute;
      top: 34px;
      left: 3%;
      width: 94%;
      padding: 10px;
      display: block;
      z-index: 10; }
      .mingtiWrapper .subDashboard .dropdownMenu li {
        padding: 2px 0; }
        .mingtiWrapper .subDashboard .dropdownMenu li .ddmSub {
          list-style: none;
          padding: 0 0 0 10px; }
          .mingtiWrapper .subDashboard .dropdownMenu li .ddmSub a {
            padding-left: 15px;
            background: url("../images/mingti/icon/list_icon.jpg") no-repeat 0 5px; }
    .mingtiWrapper .subDashboard .dragBtn {
      width: 2px;
      height: 100%;
      cursor: e-resize;
      position: absolute;
      top: 0;
      right: 0; }
  .mingtiWrapper .pointSelect {
    width: 100%; }
  .mingtiWrapper .pointTitleBox {
    width: 100%;
    margin: -1px 0 0 0;
    border-top: 1px solid #cfcfcf;
    border-bottom: 1px solid #cfcfcf;
    padding: 10px 0;
    position: relative; }
  .mingtiWrapper .pointTitle {
    color: #1ba1e2;
    cursor: pointer;
    font-size: 13px;
    margin-left: 10px;
    width: 85%; }
  .mingtiWrapper .kmTxBox, .mingtiWrapper .nanduBox {
    background-color: #f5f5f5;
    height: 40px;
    margin-bottom: 5px;
    float: left;
    width: 100%; }
    .mingtiWrapper .kmTxBox .kmtxNdTitle, .mingtiWrapper .nanduBox .kmtxNdTitle {
      line-height: 40px;
      font-size: 16px;
      color: #222; }
      .mingtiWrapper .kmTxBox .kmtxNdTitle span, .mingtiWrapper .nanduBox .kmtxNdTitle span {
        width: 60px;
        margin-left: 10px;
        font-weight: 600; }
      .mingtiWrapper .kmTxBox .kmtxNdTitle a, .mingtiWrapper .nanduBox .kmtxNdTitle a {
        width: 100px;
        height: 40px;
        background-color: #e0e0e0;
        color: #222222; }
    .mingtiWrapper .kmTxBox .kmTxNdList, .mingtiWrapper .nanduBox .kmTxNdList {
      line-height: 40px; }
      .mingtiWrapper .kmTxBox .kmTxNdList li a, .mingtiWrapper .nanduBox .kmTxNdList li a {
        padding: 0 15px;
        color: #444; }
      .mingtiWrapper .kmTxBox .kmTxNdList .tiXingId_all,
      .mingtiWrapper .kmTxBox .kmTxNdList .nanDuId_all, .mingtiWrapper .nanduBox .kmTxNdList .tiXingId_all,
      .mingtiWrapper .nanduBox .kmTxNdList .nanDuId_all {
        width: 100px;
        height: 40px;
        background-color: #e0e0e0;
        color: #222222;
        text-align: center;
        padding-right: 0; }
        .mingtiWrapper .kmTxBox .kmTxNdList .tiXingId_all a,
        .mingtiWrapper .kmTxBox .kmTxNdList .nanDuId_all a, .mingtiWrapper .nanduBox .kmTxNdList .tiXingId_all a,
        .mingtiWrapper .nanduBox .kmTxNdList .nanDuId_all a {
          font-size: 16px;
          font-weight: bold; }
      .mingtiWrapper .kmTxBox .kmTxNdList li.active a, .mingtiWrapper .nanduBox .kmTxNdList li.active a {
        color: #f60; }
  .mingtiWrapper .pointTree {
    padding: 0 10px;
    position: absolute;
    bottom: 0;
    top: 135px;
    left: 0;
    width: 100%;
    overflow-y: scroll; }
    .mingtiWrapper .pointTree .checkbox {
      margin-bottom: 2px;
      margin-top: 2px; }
      .mingtiWrapper .pointTree .checkbox input[type="checkbox"] {
        margin-left: -15px; }
    .mingtiWrapper .pointTree .levelOne li {
      padding-left: 12px;
      position: relative; }
    .mingtiWrapper .pointTree .levelFour {
      display: none; }
    .mingtiWrapper .pointTree .foldBtn {
      position: absolute;
      width: 14px;
      height: 14px;
      left: 0;
      top: 5px;
      cursor: pointer;
      background: url("../images/mingti/icon/tree_icon.png") no-repeat 0 0; }
    .mingtiWrapper .pointTree .unfoldBtn {
      background-position: 0 bottom; }
  .mingtiWrapper .patternWrap {
    border-bottom: 1px solid #d8d8d8; }
    .mingtiWrapper .patternWrap .addBtn {
      color: #0b9900;
      font-size: 14px;
      text-align: right;
      margin: 0;
      padding: 10px 0; }
      .mingtiWrapper .patternWrap .addBtn a {
        color: #222222;
        text-decoration: none;
        font-weight: 600;
        margin-right: 35px; }
        .mingtiWrapper .patternWrap .addBtn a:hover {
          color: #428bca; }
    .mingtiWrapper .patternWrap .patternList {
      border-top: 1px solid #d8d8d8;
      padding-top: 10px;
      padding: 10px 30px 0 10px;
      text-align: right; }
      .mingtiWrapper .patternWrap .patternList .active a {
        color: #f60; }
  .mingtiWrapper .contentWraps {
    padding: 10px 0; }
    .mingtiWrapper .contentWraps .errorMsg {
      margin-left: 10px;
      font-size: 16px;
      color: red; }
  .mingtiWrapper .total-test {
    padding: 0 10px;
    font-size: 14px; }
  .mingtiWrapper .testList {
    padding: 0 10px; }
    .mingtiWrapper .testList li {
      padding: 10px;
      margin-top: 10px;
      border: 1px solid #d8d8d8;
      position: relative; }
    .mingtiWrapper .testList h3 {
      font-size: 14px;
      margin: 0; }
    .mingtiWrapper .testList .item-title {
      font-size: 14px;
      font-weight: bold;
      margin-bottom: 5px; }
    .mingtiWrapper .testList .item-tigan {
      margin-bottom: 10px; }
    .mingtiWrapper .testList .item-sub-title {
      font-size: 12px;
      width: 100%; }
      .mingtiWrapper .testList .item-sub-title p {
        display: inline;
        margin-right: 10px;
        float: left; }
      .mingtiWrapper .testList .item-sub-title .use-times {
        color: #f60; }
      .mingtiWrapper .testList .item-sub-title .add-to-paper {
        position: absolute;
        top: 10px;
        right: 10px; }
      .mingtiWrapper .testList .item-sub-title .knowledge-point span {
        margin-right: 10px; }
      .mingtiWrapper .testList .item-sub-title .level-num span {
        width: 42px;
        height: 10px;
        margin-top: 2px;
        background: url("../images/mingti/icon/levelstar.png") no-repeat 0 0; }
      .mingtiWrapper .testList .item-sub-title .level-num .level-star-2 {
        background-position: 0 -10px; }
      .mingtiWrapper .testList .item-sub-title .level-num .level-star-3 {
        background-position: 0 -20px; }
      .mingtiWrapper .testList .item-sub-title .level-num .level-star-4 {
        background-position: 0 -30px; }
      .mingtiWrapper .testList .item-sub-title .level-num .level-star-5 {
        background-position: 0 -40px; }
    .mingtiWrapper .testList .item-cont {
      margin-top: 35px; }
      .mingtiWrapper .testList .item-cont .item-tizhi-wrap {
        margin-bottom: 5px; }
        .mingtiWrapper .testList .item-cont .item-tizhi-wrap .item-tizhi {
          margin-bottom: 5px; }
