@charset "UTF-8";
body {
  font-family: Helvetica, Tahoma, Arial, "Microsoft YaHei", "微软雅黑", SimSun, "宋体", STXihei, "华文细黑", Heiti, "黑体", sans-serif;
  background: #f0f0f0; }

.h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: Helvetica, Tahoma, Arial, "Microsoft YaHei", "微软雅黑", SimSun, "宋体", STXihei, "华文细黑", Heiti, "黑体", sans-serif; }

em {
  font-weight: normal;
  font-size: 12px; }

.mt {
  margin-top: 8px; }

.mb0 {
  margin-bottom: 0; }

.container {
  width: 960px; }

.btn {
  padding: 6px 20px; }

.row {
  margin-left: 0;
  margin-right: 0; }

label {
  color: rgba(100, 100, 100, 0.8); }

h4.logo {
  margin-top: 100px;
  margin-bottom: 50px; }
  h4.logo img {
    width: 400px; }

.loginBox {
  padding-right: 30px;
  color: #fff;
  border-right: 1px solid #969696; }

.loginWithXh {
  padding-left: 30px;
  color: #fff; }
  .loginWithXh .btn {
    margin-top: 25px;
    width: 100%; }

.userBox {
  padding: 50px 0; }

.thumbnail {
  border: 0;
  background: none;
  margin-bottom: 0; }
  .thumbnail img {
    width: 236px;
    height: 236px; }

.caption p {
  padding: 0 12px; }

.loginInfo h2 {
  margin-top: 0; }
.loginInfo h4 {
  margin: 30px 0; }

.entries h4 {
  margin-top: 0; }
.entries li a {
  width: 100%;
  margin-top: 10px; }

.registerBox h4.logo {
  margin-top: 50px;
  margin-bottom: 30px; }

.infoBox .list-inline li:first-child {
  padding-left: 20px; }

.nav-tabs {
  float: left;
  width: 100%;
  margin-bottom: 0;
  border-bottom: 0; }
  .nav-tabs li {
    float: left;
    padding: 10px 20px;
    margin-right: 5px;
    color: #fff;
    font-size: 14px;
    background-color: #5b5147;
    font-weight: 600;
    cursor: pointer; }
    .nav-tabs li.active {
      background-color: #fff;
      color: #5b5147; }

.tab-content {
  float: left;
  width: 100%;
  background-color: #fff; }

.tab-pane {
  padding: 20px 10px 5px 10px;
  display: none; }

.nextBtn span, .prevBtn span, .submitBtn span {
  float: right;
  width: 16px;
  height: 16px;
  margin: 2px 0 0 5px;
  background-image: url("../images/renzheng/icon/button-icons.png");
  background-repeat: no-repeat;
  background-position: 0 0; }

.prevBtn span {
  float: left;
  background-position: 0 -45px;
  margin: 2px 5px 0 0; }

.objectWrapSub {
  float: left;
  width: 100%; }

.subjectBox {
  padding: 10px;
  border: 1px solid #cfcfcf; }

.selectedObjectBox {
  padding: 10px 0 5px 0;
  margin-bottom: 15px; }

.selectedObjectList {
  margin-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px dashed #cfcfcf; }
  .selectedObjectList p {
    width: 600px; }

.btn-can {
  width: 90px; }
  .btn-can .btn {
    padding: 2px 15px;
    border-radius: 0;
    margin-bottom: 1px; }

.selectedObjectBox span {
  margin-right: 10px; }

.objectToggleBox {
  border: 1px solid #cfcfcf;
  padding-top: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  float: left;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px; }

.addNewObject {
  margin-left: 10px; }
  .addNewObject span {
    font-size: 13px; }

span.msgBox {
  display: none;
  font-weight: normal; }

.errorMsg {
  color: red;
  float: left;
  margin-right: 10px; }
  .errorMsg span {
    color: red;
    float: left;
    margin-right: 10px; }
  .errorMsg .msgBox {
    display: block; }

.privilegeBtn:hover {
  text-decoration: none; }
.privilegeBtn span {
  margin-right: 5px; }

.privilegeBox {
  position: relative;
  border: 1px solid #cfcfcf;
  background-color: #fff;
  padding: 15px 10px;
  display: none;
  float: right; }
  .privilegeBox .sanj {
    position: absolute;
    right: 40px;
    top: -11px; }
  .privilegeBox .btn {
    margin-top: 10px;
    padding: 2px 12px; }

.jueseVal {
  width: 400px;
  height: 40px;
  display: none; }

/* 审核页面样式 */
.shenheBox {
  margin-top: 10px; }
  .shenheBox .infoBox {
    background: #fff;
    padding-top: 15px;
    padding-bottom: 15px; }

.shTitle {
  margin-top: 10px; }

.closeShenBox {
  color: #d80000;
  font-size: 16px;
  margin-top: 5px; }

.shenheBox .table {
  margin-bottom: 0; }

.shenheTable thead {
  background-color: #33363b; }
.shenheTable th {
  text-align: center;
  color: #fff;
  vertical-align: middle; }
.shenheTable td {
  text-align: center;
  vertical-align: middle; }
.shenheTable .text-left {
  text-align: left; }

.shenheBox .shenheTable td {
  vertical-align: middle; }

.shenheTable .btn {
  border-radius: 0; }

.alterBtn, .shYonghuId, .shJigouId, .shLingyuId, .originZT {
  display: none; }

/* 审核页面样式 */
