@charset "UTF-8";
.renzhengWrapper {
  /* 审核页面样式 */ }
  .renzhengWrapper em {
    font-weight: normal;
    font-size: 12px; }
  .renzhengWrapper .mt {
    margin-top: 8px; }
  .renzhengWrapper .mb0 {
    margin-bottom: 0; }
  .renzhengWrapper .container {
    width: 960px; }
  .renzhengWrapper .btn {
    padding: 6px 20px; }
  .renzhengWrapper .row {
    margin-left: 0;
    margin-right: 0; }
  .renzhengWrapper label {
    color: rgba(100, 100, 100, 0.8); }
  .renzhengWrapper h4.logo {
    margin-top: 100px;
    margin-bottom: 50px; }
    .renzhengWrapper h4.logo img {
      width: 400px; }
  .renzhengWrapper .loginBox {
    padding-right: 30px;
    color: #fff;
    border-right: 1px solid #969696; }
  .renzhengWrapper .loginWithXh {
    padding-left: 30px;
    color: #fff; }
    .renzhengWrapper .loginWithXh .btn {
      margin-top: 25px;
      width: 100%; }
  .renzhengWrapper .userBox {
    padding: 50px 0; }
  .renzhengWrapper .thumbnail {
    border: 0;
    background: none;
    margin-bottom: 0; }
    .renzhengWrapper .thumbnail img {
      width: 236px;
      height: 236px; }
  .renzhengWrapper .caption p {
    padding: 0 12px; }
  .renzhengWrapper .loginInfo h2 {
    margin-top: 0; }
  .renzhengWrapper .loginInfo h4 {
    margin: 30px 0; }
  .renzhengWrapper .entries h4 {
    margin-top: 0; }
  .renzhengWrapper .entries li a {
    width: 100%;
    margin-top: 10px; }
  .renzhengWrapper .registerBox h4.logo {
    margin-top: 50px;
    margin-bottom: 30px; }
  .renzhengWrapper .infoBox .list-inline li:first-child {
    padding-left: 20px; }
  .renzhengWrapper .nav-tabs {
    float: left;
    width: 100%;
    margin-bottom: 0;
    border-bottom: 0; }
    .renzhengWrapper .nav-tabs li {
      float: left;
      padding: 10px 20px;
      margin-right: 5px;
      color: #fff;
      font-size: 14px;
      background-color: #5b5147;
      font-weight: 600;
      cursor: pointer; }
      .renzhengWrapper .nav-tabs li.active {
        background-color: #fff;
        color: #5b5147; }
  .renzhengWrapper .tab-content {
    float: left;
    width: 100%;
    background-color: #fff; }
  .renzhengWrapper .tab-pane {
    padding: 20px 10px 5px 10px;
    display: none; }
  .renzhengWrapper .nextBtn span, .renzhengWrapper .prevBtn span, .renzhengWrapper .submitBtn span {
    float: right;
    width: 16px;
    height: 16px;
    margin: 2px 0 0 5px;
    background-image: url("../images/renzheng/icon/button-icons.png");
    background-repeat: no-repeat;
    background-position: 0 0; }
  .renzhengWrapper .prevBtn span {
    float: left;
    background-position: 0 -45px;
    margin: 2px 5px 0 0; }
  .renzhengWrapper .objectWrapSub {
    float: left;
    width: 100%; }
  .renzhengWrapper .subjectBox {
    padding: 10px;
    border: 1px solid #cfcfcf; }
  .renzhengWrapper .selectedObjectBox {
    padding: 10px 0 5px 0;
    margin-bottom: 15px; }
  .renzhengWrapper .selectedObjectList {
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px dashed #cfcfcf; }
    .renzhengWrapper .selectedObjectList p {
      width: 600px; }
  .renzhengWrapper .btn-can {
    width: 90px; }
    .renzhengWrapper .btn-can .btn {
      padding: 2px 15px;
      border-radius: 0;
      margin-bottom: 1px; }
  .renzhengWrapper .selectedObjectBox span {
    margin-right: 10px; }
  .renzhengWrapper .objectToggleBox {
    border: 1px solid #cfcfcf;
    padding-top: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    float: left;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px; }
  .renzhengWrapper .addNewObject {
    margin-left: 10px; }
    .renzhengWrapper .addNewObject span {
      font-size: 13px; }
  .renzhengWrapper span.msgBox {
    display: none;
    font-weight: normal; }
  .renzhengWrapper .errorMsg {
    color: red;
    float: left;
    margin-right: 10px; }
    .renzhengWrapper .errorMsg span {
      color: red;
      float: left;
      margin-right: 10px; }
    .renzhengWrapper .errorMsg .msgBox {
      display: block; }
  .renzhengWrapper .privilegeBtn:hover {
    text-decoration: none; }
  .renzhengWrapper .privilegeBtn span {
    margin-right: 5px; }
  .renzhengWrapper .privilegeBox {
    position: relative;
    border: 1px solid #cfcfcf;
    background-color: #fff;
    padding: 15px 10px;
    display: none;
    float: right; }
    .renzhengWrapper .privilegeBox .sanj {
      position: absolute;
      right: 40px;
      top: -11px; }
    .renzhengWrapper .privilegeBox .btn {
      margin-top: 10px;
      padding: 2px 12px; }
  .renzhengWrapper .jueseVal {
    width: 400px;
    height: 40px;
    display: none; }
  .renzhengWrapper .shenheBox {
    margin-top: 10px; }
    .renzhengWrapper .shenheBox .infoBox {
      background: #fff;
      padding-top: 15px;
      padding-bottom: 15px; }
  .renzhengWrapper .shTitle {
    margin-top: 10px; }
  .renzhengWrapper .closeShenBox {
    color: #d80000;
    font-size: 16px;
    margin-top: 5px; }
  .renzhengWrapper .shenheBox .table {
    margin-bottom: 0; }
  .renzhengWrapper .shenheTable thead {
    background-color: #33363b; }
  .renzhengWrapper .shenheTable th {
    text-align: center;
    color: #fff;
    vertical-align: middle; }
  .renzhengWrapper .shenheTable td {
    text-align: center;
    vertical-align: middle; }
  .renzhengWrapper .shenheTable .text-left {
    text-align: left; }
  .renzhengWrapper .shenheBox .shenheTable td {
    vertical-align: middle; }
  .renzhengWrapper .shenheTable .btn {
    border-radius: 0; }
  .renzhengWrapper .alterBtn, .renzhengWrapper .shYonghuId, .renzhengWrapper .shJigouId, .renzhengWrapper .shLingyuId, .renzhengWrapper .originZT {
    display: none; }

/* 审核页面样式 */
