.zujuanWrapper .testPaperSummary {
  width: 221px;
  height: 100%;
  position: fixed;
  z-index: 10;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  background-color: #f5f5f5;
  border-right: 1px solid #cfcfcf; }
  .zujuanWrapper .testPaperSummary .subjectBox {
    position: relative; }
    .zujuanWrapper .testPaperSummary .subjectBox h2 {
      font-size: 16px;
      display: inline;
      margin: 0;
      color: #f60;
      font-weight: bold; }
    .zujuanWrapper .testPaperSummary .subjectBox a {
      font-size: 12px;
      text-decoration: none; }
  .zujuanWrapper .testPaperSummary .selectedItems h3 {
    font-size: 12px;
    margin: 15px 0 5px 0; }
  .zujuanWrapper .testPaperSummary .selectedItems table {
    width: 100%; }
    .zujuanWrapper .testPaperSummary .selectedItems table td {
      font-size: 12px;
      text-align: center;
      padding: 3px; }
      .zujuanWrapper .testPaperSummary .selectedItems table td .glyphicon {
        top: 3px;
        margin-right: 0; }
    .zujuanWrapper .testPaperSummary .selectedItems table .text-left {
      text-align: left; }
    .zujuanWrapper .testPaperSummary .selectedItems table .deleteBtn {
      width: 21px; }
.zujuanWrapper .contentInner {
  position: relative; }
  .zujuanWrapper .contentInner .popupWrap {
    position: fixed;
    background-color: #fff;
    height: 100%;
    width: 600px;
    z-index: 2;
    left: -260px; }
    .zujuanWrapper .contentInner .popupWrap .dagangListWrap {
      position: absolute;
      left: 0;
      width: 300px; }
    .zujuanWrapper .contentInner .popupWrap .chooseCondition {
      width: 300px;
      height: 100%;
      position: absolute;
      right: 0;
      padding: 10px;
      background-color: #f5f5f5;
      border-right: 1px solid #cfcfcf;
      color: #000; }
      .zujuanWrapper .contentInner .popupWrap .chooseCondition .table-tixing {
        width: 100%; }
        .zujuanWrapper .contentInner .popupWrap .chooseCondition .table-tixing th {
          text-align: center;
          padding: 5px; }
        .zujuanWrapper .contentInner .popupWrap .chooseCondition .table-tixing td {
          padding: 5px;
          text-align: center; }
          .zujuanWrapper .contentInner .popupWrap .chooseCondition .table-tixing td input {
            width: 36px;
            text-align: center; }
        .zujuanWrapper .contentInner .popupWrap .chooseCondition .table-tixing .td-txName {
          text-align: left; }
        .zujuanWrapper .contentInner .popupWrap .chooseCondition .table-tixing .td-total {
          text-align: right; }
      .zujuanWrapper .contentInner .popupWrap .chooseCondition .nandu-dist h4 {
        font-size: 14px; }
        .zujuanWrapper .contentInner .popupWrap .chooseCondition .nandu-dist h4 em {
          font-size: 12px; }
      .zujuanWrapper .contentInner .popupWrap .chooseCondition .nandu-dist .distBox {
        position: relative; }
      .zujuanWrapper .contentInner .popupWrap .chooseCondition .nandu-dist .sliderBox {
        width: 220px;
        height: 10px;
        margin: 3px 5px 0 5px;
        background-color: #ddd; }
      .zujuanWrapper .contentInner .popupWrap .chooseCondition .nandu-dist .sliderItem {
        width: 110px;
        height: 10px;
        background-color: darkseagreen;
        position: relative; }
        .zujuanWrapper .contentInner .popupWrap .chooseCondition .nandu-dist .sliderItem .sliderItemInner {
          max-width: 220px; }
      .zujuanWrapper .contentInner .popupWrap .chooseCondition .nandu-dist .sliderBtn {
        cursor: e-resize;
        position: absolute;
        height: 20px;
        top: -5px;
        right: 0;
        width: 5px;
        background-color: #f60;
        z-index: 6; }
      .zujuanWrapper .contentInner .popupWrap .chooseCondition .nandu-dist .maskLabel {
        font-size: 12px; }
