@import "variable";
.zujuanWrapper{
  .testPaperSummary{
    width: 221px;
    height: 100%;
    position: fixed;
    z-index: 10;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    background-color: #f5f5f5;
    border-right: 1px solid #cfcfcf;
    .subjectBox{
      position: relative;
      h2{
        font-size: 16px;
        display: inline;
        margin: 0;
        color: #f60;
        font-weight: bold;
      }
      a{
        font-size: 12px;
        text-decoration: none;
      }
    }
    .selectedItems{
      h3{
        font-size: 12px;
        margin: 15px 0 5px 0;
      }
      table{
        width: 100%;
        td{
          font-size: 12px;
          text-align: center;
          padding: 3px;
          .glyphicon {
            top: 3px;
            margin-right: 0;
          }
        }
        .text-left{
          text-align: left;
        }
        .deleteBtn{
          width: 21px;
        }
      }
    }
  }
  .contentInner{
    position: relative;
    .popupWrap{
      position: fixed;
      background-color: #fff;
      height: 100%;
      width: 600px;
      z-index: 2;
      left: -260px;
      .dagangListWrap{
        position: absolute;
        left: 0;
        width: 300px;
      }
      .chooseCondition{
        width: 300px;
        height: 100%;
        position: absolute;
        right: 0;
        padding: 10px;
        background-color: #f5f5f5;
        border-right: 1px solid #cfcfcf;
        color: #000;
        .table-tixing{
          width: 100%;
          th{
            text-align: center;
            padding: 5px;
          }
          td{
            padding: 5px;
            text-align: center;
            input{
              width: 36px;
              text-align: center;
            }
          }
          .td-txName{
            text-align: left;
          }
          .td-total{
            text-align: right;
          }
        }
        .nandu-dist{
          h4{
            font-size: 14px;
            em{
              font-size: 12px;
            }
          }
          .distBox{
            position: relative;
          }
          .sliderBox{
            width: 220px;
            height: 10px;
            margin: 3px 5px 0 5px;
            background-color: #ddd;
          }
          .sliderItem{
            width: 110px;
            height: 10px;
            background-color: darkseagreen;
            position: relative;
            .sliderItemInner{
              max-width: 220px;
            }
          }
          .sliderBtn{
            cursor: e-resize;
            position: absolute;
            height: 20px;
            top: -5px;
            right: 0;
            width: 5px;
            background-color: #f60;
            z-index: 6;
          }
          .maskLabel {
            font-size: 12px;
          }
        }
      }
    }
  }

  .contentWraps{

  }
  .kmTxWrap{

  }
}