@import "variable";
.zujuanWrapper{
  .testPaperSummary{
    width: 221px;
    height: 100%;
    position: fixed;
    z-index: 10;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    background-color: #f5f5f5;
    border-right: 1px solid #cfcfcf;
    .subjectBox{
      position: relative;
      margin-top: 10px;
      h2{
        font-size: 16px;
        display: inline;
        margin: 0;
        color: #f60;
        font-weight: bold;
      }
      a{
        font-size: 12px;
        text-decoration: none;
      }
    }
    .selectedItems{
      h3{
        font-size: 12px;
        margin: 15px 0 5px 0;
      }
      table{
        width: 100%;
        margin-bottom: 10px;
        td,th{
          font-size: 12px;
          text-align: center;
          padding: 3px;
          .glyphicon {
            top: 3px;
            margin-right: 0;
          }
        }
        .text-left{
          text-align: left;
        }
        .deleteBtn{
          width: 21px;
        }
      }
    }
    .sj-preview-btns{
      padding: 10px 0;
    }
  }
  .contentInner{
    position: relative;
    .popupWrap{
      position: fixed;
      background-color: #fff;
      height: 100%;
      width: 600px;
      z-index: 2;
      left: -260px;
      .dagangListWrap{
        position: absolute;
        left: 0;
        width: 300px;
      }
      .chooseCondition{
        width: 300px;
        height: 100%;
        position: absolute;
        right: 0;
        padding: 10px;
        background-color: #f5f5f5;
        border-right: 1px solid #cfcfcf;
        color: #000;
        .table-tixing{
          width: 100%;
          th{
            text-align: center;
            padding: 5px;
          }
          td{
            padding: 5px;
            text-align: center;
            input{
              width: 36px;
              text-align: center;
            }
          }
          .td-txName{
            text-align: left;
          }
          .td-total{
            text-align: right;
          }
        }
        .nandu-dist{
          h4{
            font-size: 14px;
            em{
              font-size: 12px;
            }
          }
          .distBox{
            position: relative;
          }
          .sliderBox{
            width: 220px;
            height: 10px;
            margin: 3px 5px 0 5px;
            background-color: #ddd;
          }
          .sliderItem{
            width: 110px;
            height: 10px;
            background-color: darkseagreen;
            position: relative;
            .sliderItemInner{
              max-width: 220px;
            }
          }
          .sliderBtn{
            cursor: e-resize;
            position: absolute;
            height: 20px;
            top: -5px;
            right: 0;
            width: 5px;
            background-color: #f60;
            z-index: 6;
          }
          .maskLabel {
            font-size: 12px;
          }
        }
      }
    }
  }
  .seal-line{
    width: 100px;
    margin-left: 10px;
    a{
      width: 100%;
      height: 575px;
      display: block;
      background-image: url("../images/zujuan/sealLine.gif");
      background-repeat: no-repeat;
      background-position: 0 0;
      margin-top: 10px;
      &:hover{
        background-position: -100px 0;
      }
    }
  }
  .contentWraps{
    .kmTxBox,.nanduBox{
      background: none;
      height: auto;
      ul{
        line-height: 20px;
        margin-bottom: 0;
        li{
          a{
            font-size: 12px;
            padding: 0 5px;
          }
        }
        .tiXingId_all,.nanDuId_all{
          height: auto;
          background: none;
          width: auto;
          a{
            font-size: 12px;
            font-weight: normal;
            padding: 0 5px 0 10px;
          }
        }
      }
    }
  }
  .preview-title{
    height: 40px;
    background-color: #ccc;
    position: fixed;
    width: 100%;
    line-height: 40px;
    padding: 0 10px;
  }
  .paper-content{
    margin-left: 10px;
    color: #000;
    .secret-mark{
      font-size: 14px;
    }
    .paper-title{
      font-size: 24px;
      margin: 10px 0;
    }
    .paper-sub-title{
      font-size: 24px;
      margin: 10px 0;
    }
    .paper-info{
      font-size: 14px;
    }
    .student-title{
      font-size: 14px;
    }
    .cent-box{
      table{
        margin: 0 auto;
        td{
          border: 2px solid #666;
          width: 50px;
          line-height: 25px;
          font-size: 14px;
          text-align: center;
        }
      }
    }
    .attention{
      font-size: 12px;
    }
    .hover-style{
      cursor: pointer;
      &:hover{
        color: #f60;
        table{
          td{
            border:2px solid #f60;
          }
        }
      }
    }
    .sj-param-val{
      width: 100%;
      display: block;
    }
    .sj-edit-box{
      input{
        font-size: 18px;
        width: 50%;
      }
      textarea{
        font-size: 14px;
        width: 60%;
      }
      h5{
        width: 60%;
        text-align: right;
      }
    }
    .form-paper-type{
      margin-top: 20px;
    }
    .shijuantimu-list{
      .mubandati{
        font-size: 16px;
        cursor: pointer;
      }
      .testList li{
        border: none;
        h5.item-title{
          position: absolute;
          top: 0;
          right: 10px;
          display: none;
        }
        .item-cont{
          margin-top: 0;
        }
        &:hover{
          border: 1px solid #d8d8d8;
          background-color: #F5F5F5;
          h5.item-title{
            display: block;
          }
        }
      }
    }
  }
  .fixed-top{
    position: fixed;
    top: 0;
    height: 65px;
    right: 0;
    left: 561px;
    background-color: #F5F5F5;
    z-index: 2;
    border-bottom: 1px solid #cfcfcf;
  }
  .kmTxWrap{
    padding-right: 160px;
  }
  .back-to-zujuan{
    width: 160px;
    position: absolute;
    top: 0;
    right: 10px;
    button{
      float: right;
      margin-top: 5px;
      font-size: 12px;
    }
  }
  .test-list-wrap{
    margin-top: 60px;
  }
}
.paper_hand_form{
  .contentInner{
    .popupWrap{
      width: 220px;
      .dagangListWrap{
        width: 220px;
      }
      .chooseCondition{
        display: none;
      }
    }
  }
  .contentWraps{
    padding-left: 220px;
  }
}