<form class="form-horizontal dagangInputForm">
    <div class="loading-box text-center" ng-show="loadingImgShow">
        <img src="/images/loading.gif" alt=""/>
        <p>数据加载中，请耐心等待……</p>
    </div>
    <div ng-repeat="zsd in knowledgePr" class="media dagangBox dgLevel_0">
        <div class="media-body">
            <div class="media-heading">
                <div class="col-md-4">
                    <div class="form-control radius4 dagangName">
                        {{zsd.ZHISHIDIANMINGCHENG}}
                        <button class="btn btn-default dgAddBtn dgAddBtn_0" ng-click="addNd(zsd)" type="button">
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                    </div>
                </div>
            </div>
            <!-- 二级 -->
            <div ng-repeat="nd2 in zsd.ZIJIEDIAN" class="media dgLevel_1">
                <a class="media-object pull-left"></a>
                <div class="media-body">
                    <div class="media-heading">
                        <div class="input-group col-md-4">
                            <input type="text" class="form-control" ng-model="nd2.ZHISHIDIANMINGCHENG">
                            <span class="input-group-btn">
                                 <button class="btn btn-default dgAddBtn dgAddBtn_1" ng-click="addNd(nd2)" type="button">
                                     <span class="glyphicon glyphicon-plus"> </span>
                                 </button>
                                 <button class="btn btn-default dgDeleteBtn" ng-click="removeNd(zsd, $index)" type="button">
                                     <span class="glyphicon glyphicon-trash"> </span>
                                 </button>
                            </span>
                        </div>
                    </div>

                    <!-- 三级 -->
                    <div ng-repeat="nd3 in nd2.ZIJIEDIAN" class="media dgLevel_2">
                        <a class="media-object pull-left"> </a>

                        <div class="media-body">
                            <div class="media-heading">
                                <div class="input-group col-md-4">
                                    <input type="text" class="form-control" ng-model="nd3.ZHISHIDIANMINGCHENG">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default dgAddBtn dgAddBtn_2" ng-click="addNd(nd3)"
                                                 type="button">
                                             <span class="glyphicon glyphicon-plus"></span>
                                        </button>
                                        <button class="btn btn-default dgDeleteBtn" ng-click="removeNd(nd2, $index)"
                                                 type="button">
                                             <span class="glyphicon glyphicon-trash"> </span>
                                        </button>
                                    </span>
                                </div>
                            </div>
                            <!-- 四级 -->
                            <div ng-repeat="nd4 in nd3.ZIJIEDIAN" class="media dgLevel_3">
                                <a class="media-object pull-left"> </a>

                                <div class="media-body">
                                    <div class="media-heading">
                                        <div class="input-group col-md-4">
                                            <input type="text" class="form-control" ng-model="nd4.ZHISHIDIANMINGCHENG">
                                            <span class="input-group-btn">
                                                <button class="btn btn-default dgDeleteBtn"
                                                        ng-click="removeNd(nd3, $index)" type="button">
                                                    <span class="glyphicon glyphicon-trash"> </span>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>