<div class="dgInputWelcome">
    <ul class="list-unstyled list-sheet">
        <!--<li ng-repeat="dg in dgList">-->
            <!--<a href="javascript:void(0)" class="zsdg-btn" ng-click="loadKnowledge(dg)"-->
               <!--data-gjdid="{{dg.GENJIEDIAN_ID}}" data-lyid="{{dg.LINGYU_ID}}"-->
               <!--data-zsdid="{{dg.ZHISHIDAGANG_ID}}" data-leixing="{{dg.LEIXING}}">-->
                <!--&lt;!&ndash;{{dg.ZHISHIDAGANGMINGCHENG}}&ndash;&gt;查询公共知识大纲-->
            <!--</a>-->
        <!--</li>-->
        <li>
            <a href="javascript:void(0)" class="zsdg-btn" ng-click="renderDgPage('1')">
                查询公共知识大纲
            </a>
        </li>
        <li>
            <a href="javascript:void(0)" class="zsdg-btn" ng-click="renderDgPage('2')">
                自建知识大纲
            </a>
        </li>
    </ul>
</div>