<form class="form-horizontal dagangInputForm">
    <div ng-repeat="zsd in knowledge" class="media dagangBox dgLevel_0">
        <div class="media-body">
            <div class="media-heading">
                <div class="col-md-4">
                    <div class="form-control radius4 dagangName">
                        {{zsd.ZHISHIDIANMINGCHENG}}
                    </div>
                </div>
            </div>
            <!-- 二级 -->
            <div ng-repeat="nd2 in zsd.ZIJIEDIAN" class="media dgLevel_1">
                <a class="media-object pull-left"></a>
                <div class="media-body">
                    <div class="media-heading">
                        <div class="col-md-4">
                            <input type="text" class="form-control" ng-model="nd2.ZHISHIDIANMINGCHENG" disabled>
                        </div>
                    </div>
                    <!-- 三级 -->
                    <div ng-repeat="nd3 in nd2.ZIJIEDIAN" class="media dgLevel_2">
                        <a class="media-object pull-left"> </a>

                        <div class="media-body">
                            <div class="media-heading">
                                <div class="col-md-4">
                                    <input type="text" class="form-control" ng-model="nd3.ZHISHIDIANMINGCHENG" disabled>
                                </div>
                            </div>
                            <!-- 四级 -->
                            <div ng-repeat="nd4 in nd3.ZIJIEDIAN" class="media dgLevel_3">
                                <a class="media-object pull-left"> </a>

                                <div class="media-body">
                                    <div class="media-heading">
                                        <div class="col-md-4">
                                            <input type="text" class="form-control"
                                                   ng-model="nd4.ZHISHIDIANMINGCHENG" disabled>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>