<div class="da-ti-ka-wrap">
    <div class="daTiKa">
        <div class="daTiKa-header text-center">
            <p><span>XXXX</span>试卷答题卡第<span>1</span>页</p>
        </div>
        <div class="daTiKa-body">
            <div class="daTiRegion daTiRegion1">
                <span>计算题</span><span>1.</span>
                <div class="slideDown" ng-mousedown="resizeVertical($event, '.daTiRegion1')">

                </div>
            </div>
            <div class="daTiRegion daTiRegion2">
                <span>计算题</span><span>2.</span>
                <div class="slideDown" ng-mousedown="resizeVertical($event, '.daTiRegion2')">

                </div>
            </div>
        </div>
        <div class="daTiKa-footer text-center">
            <span>书写过程中不要超出书写范围，否则可能会导致答题无效。</span>
        </div>
    </div>
    <div class="daTiKa">
        <div class="daTiKa-header text-center">
            <p><span>XXXX</span>试卷答题卡第<span>2</span>页</p>
        </div>
        <div class="daTiKa-body">

        </div>
        <div class="daTiKa-footer text-center">
            <span>书写过程中不要超出书写范围，否则可能会导致答题无效。</span>
        </div>
    </div>
</div>