<div class="da-ti-ka-wrap">
    <div class="daTiKa" ng-repeat="(pIdx, ac) in answerCards">
        <div class="daTiKa-header text-center">
            <p>{{ac.shuju.header.title}}第<span>{{pIdx + 1}}</span>页</p>
        </div>
        <div class="daTiKa-body">
            <div class="daTiRegion {{'daTiRegion' + pIdx + $index}}" ng-repeat="acb in ac.shuju.body">
                <span>{{acb.text}}题</span>
                <div class="slideDown">

                </div>
            </div>
        </div>
        <div class="daTiKa-footer text-center">
            <span>{{ac.shuju.footer.text}}</span>
        </div>
    </div>
    <div class="save-box">
        <button type="button" class="btn btn-primary" ng-click="saveDaTiKa()">保存答题卡</button>
    </div>
</div>