<div class="da-ti-ka-wrap">
    <div class="daTiKa" ng-repeat="ac in answerCards">
        <div class="daTiKa-header text-center">
            <p>{{ac.shuju.header.title}}第<span>{{$index + 1}}</span>页</p>
        </div>
        <div class="daTiKa-body">
            <div class="daTiRegion {{'daTiRegion' + acb.idxNum}}" ng-repeat="acb in ac.shuju.body">
                <span>{{acb.text}}题</span><span>{{acb.idxNum + 1}}.</span>
                <div class="slideDown" ng-mousedown="resizeVertical($event, acb.idxNum)">

                </div>
            </div>
        </div>
        <div class="daTiKa-footer text-center">
            <span>{{ac.shuju.footer.text}}</span>
        </div>
    </div>
</div>