<div class="row">
    <form class="form-horizontal" role="form" name="kaoshiForm" novalidate>
        <div class="form-group explain">
            <label class="col-sm-2 control-label"></label>
            <div class="col-sm-10">
                <em>带 <i>*</i>为必填项</em>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">考试名称<i>*</i></label>
            <div class="col-sm-8">
                <input type="text" name="ksName" class="form-control" placeholder="考试名称" required autofocus="true"
                       ng-model="kaoshiData.shuju.KAOSHI_MINGCHENG"/>
            </div>
            <div class="col-sm-2">
                <p ng-show="kaoshiForm.ksName.$error.required" class="help-block">考试名称不能为空！</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">试卷<i>*</i></label>
            <div class="col-sm-8">
                <input type="text" name="ksShiJuan" class="form-control" placeholder="试卷" required
                        ng-model="kaoshiData.shuju.shijuan_name" ng-click="showPaperList()"/>
            </div>
            <div class="col-sm-2">
                <p ng-show="kaoshiForm.ksShiJuan.$error.required" class="help-block">请选择试卷！</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">开考时间<i>*</i></label>
            <div class="col-sm-8">
                <input type="text" name="ksStartTime" class="form-control start-date" placeholder="开考时间" required
                        ng-model="kaoshiData.shuju.KAISHISHIJIAN"/>
            </div>
            <div class="col-sm-2">
                <p  class="help-block" ng-show='startDateIsNull'>开考时间不能为空！</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">考试时长(分钟)<i>*</i></label>
            <div class="col-sm-8">
                <input type="text" name="ksTime" class="form-control" placeholder="考试时长" required maxlength="3"
                       onkeyup="this.value=this.value.replace(/\D/g,'')" ng-model="kaoshiData.shuju.SHICHANG"
                       onafterpaste="this.value=this.value.replace(/\D/g,'')"/>
            </div>
            <div class="col-sm-2">
                <p ng-show="kaoshiForm.ksTime.$error.required" class="help-block">考试时长不能为空！</p>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-5">
                <button type="button" class="btn btn-success">增加考生</button>
                <button type="button" class="btn btn-success">导入考试</button>
                <span class="ml10">共<b>0</b>名考试</span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">添加考场<i>*</i></label>
            <div class="col-sm-8">
                <input type="text" name="ksKaoChang" class="form-control" placeholder="添加考场" required
                       ng-model="kaoshiData.shuju.kaochangname" ng-click="showKaoChangListInKaoShi()"/>
            </div>
            <div class="col-sm-2">
                <p ng-show="kaoshiForm.ksKaoChang.$error.required" class="help-block">请选择考场！</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">考试须知</label>
            <div class="col-sm-8">
                <textarea class="form-control" cols="30" rows="6" placeholder="考试须知"
                          ng-model="kaoshiData.shuju.XUZHI"></textarea>
            </div>
            <div class="col-sm-2">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="button" class="btn btn-danger" ng-click="showKaoShiList()">取消</button>
                <!--<button type="submit" class="btn btn-warning">重置</button>-->
                <button type="button" class="btn btn-success" ng-click="saveKaoShi()">保存考试</button>
            </div>
        </div>
    </form>
    <script type="text/javascript">
        jQuery(function($) {
            $('.start-date').intimidatetime();
        });
    </script>
</div>