<div class="row">
    <button type="button" class="btn btn-primary" ng-click="addNewKaoShi()">新增考试</button>
</div>
<table class="table table-bordered kaowu-table">
    <tr class="active">
        <th>考试名称</th>
        <th>试卷</th>
        <th>开考时间</th>
        <th>考试时长</th>
        <th>考场</th>
        <th>考试状态</th>
        <th>操作</th>
    </tr>
    <tr ng-repeat="ks in kaoshiList">
        <td>
            {{ks.KAOSHI_MINGCHENG}}
        </td>
        <td>
            <p ng-repeat="sjmc in ks.SHIJUAN">
                {{sjmc.SHIJUAN_MINGCHENG}}
            </p>
        </td>
        <td class="text-center">
            {{ks.KAISHISHIJIAN | myLocalDateWithWeek}}
        </td>
        <td class="text-center">
            {{ks.SHICHANG}}分钟
        </td>
        <td class="text-center">
            {{ks.KAODIANKAOCHANG[0].KMINGCHENG}}
        </td>
        <td class="text-center">
            {{ks.ZHUANGTAI | examStatus}}
        </td>
        <td class="text-center">
            <button type="button" class="btn btn-default" ng-click="deleteKaoShi(ks)">删除</button>
            <button type="button" class="btn btn-primary" ng-click="editKaoShi(ks)">修改</button>
        </td>
    </tr>
</table>