<div class="loading-box text-center" ng-show="loadingImgShow">
    <img src="/images/loading.gif" alt="" width="64" height="64"/>
    <p>数据加载中，请耐心等待……</p>
</div>
<div class="row">
    <button type="button" class="btn btn-primary" ng-click="addNewKaoShi()">新增考试</button>
    <a href="javascript:void(0)" class="plr10" ng-class="{active:kwParams.ksListZt == 'all' }"
       ng-click="showKaoShiList('all')">全部考试</a> |
    <a href="javascript:void(0)" class="plr10" ng-class="{active:kwParams.ksListZt == 'done' }"
       ng-click="showKaoShiList('done')">已完成考试</a> |
    <a href="javascript:void(0)" class="plr10" ng-class="{active:kwParams.ksListZt == 'ing' }"
       ng-click="showKaoShiList('ing')">未完成考试</a>
    <button type="button" class="btn btn-primary pull-right" ng-click="endKaoShi()">结束考试</button>
    <a href="http://test.taianting.com:7000/sync?name=a" class="btn btn-primary pull-right">公布成绩</a>
</div>
<table class="table table-bordered kaowu-table">
    <tr class="active">
        <th>考试名称</th>
        <th width="180px">试卷</th>
        <th width="130px">开考时间</th>
        <th width="80px">考试时长</th>
        <th width="120px">考场</th>
        <th width="100px">考试状态</th>
        <th width="50px">操作</th>
    </tr>
    <tr ng-repeat="ks in kaoshiList">
        <td>
            {{ks.KAOSHI_MINGCHENG}}
        </td>
        <td>
            <p ng-repeat="sjmc in ks.SHIJUAN">
                {{sjmc.SHIJUAN_MINGCHENG}}
            </p>
        </td>
        <td class="text-center">
            {{ks.KAISHISHIJIAN | myLocalDateWithWeek}}
        </td>
        <td class="text-center">
            {{ks.SHICHANG}}分钟
        </td>
        <td class="text-center">
            {{ks.KAODIANKAOCHANG[0].KMINGCHENG}}
        </td>
        <td class="text-center">
            {{ks.ZHUANGTAI | examStatus}}
        </td>
        <td class="text-center">
            <img src="/images/moreBtn.png" class="moreBtn" alt="更多炒作" bn-slide-show slide-show-target="moreBtnCont"
                 slide-show-dirt="left" ng-hide="ks.ZHUANGTAI >= 3"/>
            <div class="moreBtnCont">
                <div class="mbc-inner">
                    <button type="button" class="btn btn-default" ng-click="deleteKaoShi(ks)">删除</button>
                    <button type="button" class="btn btn-primary" ng-click="editKaoShi(ks)">修改</button>
                    <button type="button" class="btn btn-primary" ng-click="faBuKaoShi(ks.KAOSHI_ID)">发布</button>
                </div>
            </div>
        </td>
    </tr>
</table>
<div class="paging text-right">
    <ul class="pagination pagination-sm" ng-hide="kaoShiListIds.length">
        <li ng-class="{disabled: currentKsPageVal == 1}">
            <a href ng-click="getThisKaoShiPageData(1)">首页</a>
        </li>
        <li ng-class="{disabled: currentKsPageVal == 1}">
            <a href
               ng-click="getThisKaoShiPageData(prevPg = currentKsPageVal > 1 ? currentKsPageVal - 1 : 1)">
                上一页
            </a>
        </li>
        <li ng-repeat="pg in kaoShiPages" ng-class="{active: currentKsPageVal == pg}">
            <a href ng-click="getThisKaoShiPageData(pg)">{{pg}}</a>
        </li>
        <li ng-class="{disabled: currentKsPageVal == lastKaoShiPageNum}">
            <a href
               ng-click="getThisKaoShiPageData(nextPg = currentKsPageVal < lastKaoShiPageNum ? currentKsPageVal + 1 : lastKaoShiPageNum)">
                下一页
            </a>
        </li>
        <li ng-class="{disabled: currentKsPageVal == lastKaoShiPageNum}">
            <a href  ng-click="getThisKaoShiPageData(lastKaoShiPageNum)">尾页</a>
        </li>
    </ul>
</div>