<div class="paper-content">
    <form name="shijuan" class="paper-content-inner">
        <h1 class="paper-title text-center hover-style">
            <span class="sj-param-val">
                {{ paperDetail.SHIJUAN.SHIJUANMINGCHENG}}
            </span>
        </h1>
        <h1 class="paper-sub-title text-center hover-style">
            <span class="sj-param-val">
                {{ paperDetail.SHIJUAN.FUBIAOTI}}
            </span>
        </h1>
        <div class="attention hover-style">
            <span class="sj-param-val">
                {{ paperDetail.MUBAN.ZONGDAOYU}}
            </span>
        </div>
        <div class="shijuantimu-list">
            <div ng-repeat="mbdt in paperDetail.MUBANDATI">
                <div class="mubandati">
                    <div class="dati-name-box">
                        <span>{{cnNumArr[$index]}}、</span>
                        <span class="dati-name">{{mbdt.DATIMINGCHENG}}</span>
                    </div>
                    <div class="dati-score-box">
                        <p>
                            <span>（本大题共</span>
                            <span class="xiaoti-total"> {{mbdt.TIMUARR.length}} </span>
                            <span>小题，</span>
                        </p>
                        <p>
                            <span>共</span>
                            <span class="dati-total-score" ng-bind="mbdt.datiScore">
                            </span>
                            <span>分）</span>
                        </p>
                    </div>
                </div>
                <ul class="list-unstyled testList">
                    <li ng-repeat="tmd in mbdt.TIMUARR">
                        <div class="item-cont">
                            <h3 class="item-tigan">
                                <div class="item-score">
                                    <span ng-bind-html="($index + 1) + '、' + tmd.DETAIL.TIGAN.tiGan"></span>
                                    <span>
                                        {{'（本小题' + tmd.FENZHI + '分）'}}
                                    </span>
                                </div>
                            </h3>
                            <div class="item-tizhi-wrap">
                                <p class="item-tizhi" ng-repeat="tz in tmd.DETAIL.TIGAN.tiZhiNeiRong track by $index"
                                   ng-bind-html="letterArr[$index] + '.' + tz">
                                </p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </form>
</div>