<div class="container">
    <div class="userInfo">
        <a href="#">
            {{session.info.YONGHUMING}}
        </a>
        <a href="/logout">退出</a>
    </div>
    <ul class="list-group nav-list" ng-controller="NavCtrl">
        <li class="list-group-item" ng-class="navClass('mingti')">
            <a href="/mingti" class="dropdownToggle droTogMt">
                <span class="nav-icon"></span> <span class="nav-name">命题</span>
            </a>
        </li>
        <li class="list-group-item">
            <a href="javascript:void(0)" class="dropdownToggle droTogZj">
                <span class="nav-icon"></span> <span class="nav-name">组卷</span>
            </a>
        </li>
        <li class="list-group-item" ng-class="navClass('dagang')">
            <a href="/dagang" class="dropdownToggle droTogDg">
                <span class="nav-icon"></span> <span class="nav-name">大纲</span>
            </a>
        </li>
        <li class="list-group-item">
            <a href="javascript:void(0)" class="dropdownToggle droTogKw">
                <span class="nav-icon"></span> <span class="nav-name">考务</span>
            </a>
        </li>
        <li class="list-group-item">
            <a href="javascript:void(0)" class="dropdownToggle droTogSp">
                <span class="nav-icon"></span> <span class="nav-name">审批</span>
            </a>
        </li>
        <li class="list-group-item">
            <a href="javascript:void(0)" class="dropdownToggle droTogYj">
                <span class="nav-icon"></span> <span class="nav-name">阅卷</span>
            </a>
        </li>
    </ul>
    <div class="dsfoldBox">
        <a href="javascript:void(0)" class="dsfoldBtn"> </a>
    </div>
</div>