<div class="container" ng-controller="NavCtrl">
    <div class="userInfo">
        <a href="javascript:void(0)" ng-bind="session.userInfo.YONGHUMING" ng-click="showUserInfo()">
        </a>
        <a href="/logout">退出</a>
        <a href="/lingyu" ng-show="session.info.LINGYU > 1">修改默认科目</a>
    </div>
    <ul class="list-group nav-list">
        <li class="list-group-item" ng-class="navClass('mingti')"
            ng-show="session.quanxianStr.indexOf('quanxian2010')>=0">
            <a href="/mingti" class="dropdownToggle droTogMt">
                <span class="nav-icon"></span> <span class="nav-name">命题</span>
            </a>
        </li>
        <li class="list-group-item" ng-class="navClass('zujuan')"
            ng-show="session.quanxianStr.indexOf('quanxian2017')>=0">
            <a href="/zujuan" class="dropdownToggle droTogZj">
                <span class="nav-icon"></span> <span class="nav-name">组卷</span>
            </a>
        </li>
        <li class="list-group-item" ng-class="navClass('dagang')"
            ng-show="session.quanxianStr.indexOf('quanxian2007')>=0">
            <a href="/dagang" class="dropdownToggle droTogDg">
                <span class="nav-icon"></span> <span class="nav-name">大纲</span>
            </a>
        </li>
        <li class="list-group-item" ng-class="navClass('kaowu')"
            ng-show="session.quanxianStr.indexOf('quanxian3001')>=0">
            <a href="/kaowu" class="dropdownToggle droTogKw">
                <span class="nav-icon"></span> <span class="nav-name">考务</span>
            </a>
        </li>
        <!--<li class="list-group-item" ng-class="navClass('shenpi')"-->
            <!--ng-show="session.quanxianStr.indexOf('juese3')>=0">-->
            <!--<a href="javascript:void(0)" class="dropdownToggle droTogSp">-->
                <!--<span class="nav-icon"></span> <span class="nav-name">审批</span>-->
            <!--</a>-->
        <!--</li>-->
        <li class="list-group-item" ng-class="navClass('tongji')"
            ng-show="session.quanxianStr.indexOf('quanxian4001')>=0">
            <a  href="/tongji" class="dropdownToggle droTogTj">
                <span class="nav-icon"></span> <span class="nav-name">统计</span>
            </a>
        </li>
    </ul>
    <div class="dsfoldBox">
        <a href="javascript:void(0)" class="dsfoldBtn" ng-click="dsfoldBtn()"> </a>
    </div>
    <!-- 显示个人信息的页面 -->
    <div class="popup-gray-box" ng-show="userInfoLayer">
        <div class="popup-gray-box-inner">
            <div class="innerBox">
                <div class="pin-right-top">
                    <button type="button" class="btn btn-danger" ng-click="closeUserInfoLayer()">关闭</button>
                </div>
                <table class="table changePsw">
                    <tr>
                        <td>
                            系统账号
                        </td>
                        <td>
                            {{usr.YONGHUMING}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            真实姓名
                        </td>
                        <td>
                            {{usr.YONGHUXINXI[0].XINGMING}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            邮箱
                        </td>
                        <td>
                            {{usr.YOUXIANG}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            手机
                        </td>
                        <td>
                            {{usr.SHOUJI}}
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-bottom: 20px">
                            单位
                        </td>
                        <td>
                            {{usr.JIGOU[0].JIGOUMINGCHENG}}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            修改密码
                        </th>
                        <th>

                        </th>
                    </tr>
                    <tr>
                        <td style="padding-bottom: 20px">
                            新密码
                        </td>
                        <td>
                            <input type="text" class="newPassWord" ng-model="navData.newPsd">
                            <button type="button" class="btn btn-primary" ng-click="modifyPassWord()"
                                    ng-disabled="!navData.newPsd">修改</button>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="modifuMiMaInfo clRed">

                        </td>
                    </tr>
                    <tr>
                        <th>
                            科目
                        </th>
                        <th>
                            职务
                        </th>
                    </tr>
                    <tr ng-repeat="ly in usr.LINGYU">
                        <td>
                            {{ly.LINGYUMINGCHENG}}
                        </td>
                        <td>
                            {{ly.jueseArr.toString()}}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>