<!--题型和难度DOM元素， 开始-->
<div class="row fixed-top">
    <div class="kmTxWrap pull-left">
        <div class="kmTxBox">
            <ul class="list-inline kmTxNdList pull-left getTiXingIdList">
                <li class="tiXingId_all">
                    <a href="javascript:void(0)" ng-click="getTiXingId()"
                       ng-class="{active:txSelectenIdx == 0}">全部题型</a>
                </li>
                <li ng-repeat="kmtx in kmtxList">
                    <a href="javascript:void(0)" ng-click="getTiXingId(kmtx.TIXING_ID)"
                            ng-class="{active:txSelectenIdx == kmtx.TIXING_ID}">{{ kmtx.TIXINGMINGCHENG }}</a>
                </li>
            </ul>
        </div>
        <div class="nanduBox">
            <ul class="list-inline kmTxNdList pull-left getNanDuIdList">
                <li class="nanDuId_all">
                    <a href="javascript:void(0)" ng-click="getNanDuId()" ng-class="{active:ndSelectenIdx == 0}">全部难度</a>
                </li>
                <li class="nanDuId_1">
                    <a href="javascript:void(0)" ng-click="getNanDuId(1)" ng-class="{active:ndSelectenIdx == 1}">容易</a>
                </li>
                <li class="nanDuId_2">
                    <a href="javascript:void(0)" ng-click="getNanDuId(2)" ng-class="{active:ndSelectenIdx == 2}">较易</a>
                </li>
                <li class="nanDuId_3">
                    <a href="javascript:void(0)" ng-click="getNanDuId(3)" ng-class="{active:ndSelectenIdx == 3}">一般</a>
                </li>
                <li class="nanDuId_4">
                    <a href="javascript:void(0)" ng-click="getNanDuId(4)" ng-class="{active:ndSelectenIdx == 4}">较难</a>
                </li>
                <li class="nanDuId_5">
                    <a href="javascript:void(0)" ng-click="getNanDuId(5)" ng-class="{active:ndSelectenIdx == 5}">困难</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="back-to-zujuan pull-left">
        <button type="button" class="btn btn-success" ng-click="backToZjHome()">返回组卷页面</button>
        <button type="button" class="btn btn-success">将本页题目全部加入试卷</button>
    </div>
</div>
<!--题型和难度DOM元素， 结束-->
<div class="row test-list-wrap">
    <h2 class="total-test">
        共<strong>{{testListId.length}}</strong>题
    </h2>
    <div class="errorMsg" ng-hide="timudetails.length">没有找到符合的题目！</div>
    <ul class="list-unstyled testList">
        <li ng-repeat="tm in timudetails" class="delete_{{tm.TIMU_ID}}">
            <h3 class="item-title text-right">
                <!--span>2013年初中毕业升学考试（天津卷）数学（带解析</span-->
                <button type="button" class="btn btn-success" ng-click="addToPaper(tm)"
                        ng-hide="selectTestStr.indexOf('selectTest' + tm.TIMU_ID  + ',') >=0">加入试卷</button>
                <button type="button" class="btn btn-danger" ng-click="removeOutPaper(tm)"
                        ng-show="selectTestStr.indexOf('selectTest' + tm.TIMU_ID  + ',') >=0">移出试卷</button>
            </h3>
            <div class="item-sub-title pull-left">
                <p class="knowledge-point">
                    知识点：<span ng-repeat="zsd in tm.ZHISHIDIAN">{{zsd.ZHISHIDIANMINGCHENG}}</span>
                </p>
                <p class="level-num">
                    难易度：<span class="pull-right level-star-{{tm.NANDU_ID}}"></span>
                </p>
                <p>
                    更新日期：{{tm.UPDATE_TIME | date:'yyyy-MM-dd HH:mm:ss'}}
                </p>
            </div>
            <div class="item-cont">
                <h3 class="item-tigan">
                    【题干】{{ tm.TIGAN.tiGan }}
                </h3>
                <div class="item-tizhi-wrap">
                    <p class="item-tizhi" ng-repeat="tz in tm.TIGAN.tiZhiNeiRong">
                        {{letterArr[$index]}}.{{tz}}
                    </p>
                </div>
            </div>
        </li>
    </ul>
    <div class="paging text-right">
        <ul class="pagination pagination-sm" ng-hide="!testListId">
            <li ng-class="{disabled: currentPageNum == 1}">
                <a href ng-click="getThisPageData(1)">首页</a>
            </li>
            <li ng-class="{disabled: currentPageNum == 1}">
                <a href
                   ng-click="getThisPageData(prevPg = currentPageNum > 1 ? currentPageNum - 1 : 1)">
                    上一页
                </a>
            </li>
            <li ng-repeat="pg in pages" ng-class="{active: currentPageNum == pg}">
                <a href ng-click="getThisPageData(pg)">{{pg}}</a>
            </li>
            <li ng-class="{disabled: currentPageNum == lastPageNum}">
                <a href
                   ng-click="getThisPageData(nextPg = currentPageNum < lastPageNum ? currentPageNum + 1 : lastPageNum)">
                    下一页
                </a>
            </li>
            <li ng-class="{disabled: currentPageNum == lastPageNum}">
                <a href  ng-click="getThisPageData(lastPageNum)">尾页</a>
            </li>
        </ul>
    </div>
</div>