<div class="row paper-list">
    <div class="back-to-zujuan">
        <!--<button type="button" class="btn btn-danger" ng-click="dropMakePaper()">-->
            <!--返回组卷页面-->
        <!--</button>-->
    </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>试卷名称</th>
                <th>题型分布</th>
                <th>难度系数</th>
                <th>使用次数</th>
                <th width="80px">操作</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="pld in paperListData">
                <td>
                    <a href="javascript:void(0)" ng-click="showPaperDetail(pld.SHIJUAN_ID)" ng-bind="pld.SHIJUANMINGCHENG">
                    </a>
                </td>
                <td>
                    <span ng-repeat="dati in pld.TIXING_DATA">
                        {{tiXingNameArr[dati.TIXING_ID -1]}}:{{dati.COUNT}}
                    </span>
                </td>
                <td>
                    <p ng-bind="pld.NANDU.paperNanDu">

                    </p>
                    <div>
                        <span ng-repeat="nadu in pld.NANDU.daTiNanDuArr">
                            {{tiXingNameArr[nadu.mubandati_id -1]}}:{{nadu.nanDu}}
                        </span>
                    </div>
                </td>
                <td>
                </td>
                <td class="text-center">
                    <button type="button" class="btn btn-default" ng-click="deleteThisPaper(pld)">删除</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>