<div class="row">
    <div class="back-to-zujuan">
        <button type="button" class="btn btn-success" ng-click="dropMakePaper()" ng-show="showBackToMakePaperBtn">
            返回组卷页面
        </button>
        <button type="button" class="btn btn-success" ng-click="backToAddKaoShi()" ng-show="showAddKaoShiBackBtn">
            返回新增考试列表
        </button>
    </div>
    <ul class="">
        <li ng-repeat="pld in paperListData">
            <a href="javascript:void(0)" ng-click="showPaperDetail(pld.SHIJUAN_ID)">
                {{pld.SHIJUANMINGCHENG}} {{pld.SHIJUAN_ID}}
            </a>
        </li>
    </ul>
</div>