<div class="paper-content">
    <div class="back-to-paper-list" ng-show="baocunshijuanBtn">
        <button type="button" class="btn btn-danger" ng-click="showPaperList()">返回试卷列表</button>
    </div>
    <form name="shijuan">
        <h1 class="paper-title text-center hover-style" title="点击设置">
            <span class="sj-param-val" ng-click="editMuBanDaTiNameAndScore('sj_dt_input')">
                {{ shijuanData.shuju.SHIJUANMINGCHENG || 'XXX试卷'}}
            </span>
        </h1>
        <h1 class="paper-sub-title text-center hover-style" title="点击设置">
            <span class="sj-param-val" ng-click="editMuBanDaTiNameAndScore('sj_fbt_input')">
                {{ shijuanData.shuju.FUBIAOTI || '试卷副标题'}}
            </span>
        </h1>
        <div class="attention hover-style" title="点击设置">
            <span class="sj-param-val" ng-click="editMuBanDaTiNameAndScore('sj_dy_input')">
                {{ mubanData.shuju.ZONGDAOYU || '导语'}}
            </span>
        </div>
        <div class="form-paper-type text-center" ng-hide="sjPreview">
            <button type="button" class="btn btn-primary" ng-click="handMakePaper()">手动组卷</button>
            <button type="button" class="btn btn-primary" ng-click="autoMakePaper()">自动组卷</button>
        </div>
        <div class="shijuantimu-list" ng-show="sjPreview">
            <div ng-repeat="mbdt in mubanData.shuju.MUBANDATI">
                <div class="mubandati">
                    <div class="dati-name-box" title="点击设置大题名称"
                         ng-click="editMuBanDaTiNameAndScore('dt_name' + $index)">
                        <span>{{cnNumArr[$index]}}、</span>
                        <span class="dati-name">{{mbdt.DATIMINGCHENG}}</span>
                    </div>
                    <div class="dati-score-box" title="点击设置大题分数"
                         ng-click="editMuBanDaTiNameAndScore('dt_score' + $index)">
                        <p>
                            <span>（本大题共</span>
                            <span class="xiaoti-total"> {{mbdt.TIMUARR.length}} </span>
                            <span>小题，</span>
                        </p>
                        <p class="xitao-summary">
                            <span>每小题</span>
                            <span class="xiaoti-score"> X </span>
                            <span>分，</span>
                        </p>
                        <p>
                            <span>共</span>
                            <span class="dati-total-score">
                                {{mbdt.datiScore || 'X'}}
                            </span>
                            <span>分）</span>
                        </p>
                    </div>
                    <button type="button" class="btn btn-danger"
                            ng-click="deleteDaTi($index)">删除大题</button>
                    <button type="button" class="btn btn-success"
                            ng-click="showTestList(mbdt.MUBANDATI_ID)">添加试题</button>
                </div>
                <ul class="list-unstyled testList">
                    <li ng-repeat="tmd in mbdt.TIMUARR">
                        <h5 class="item-title text-right">
                            <button type="button" class="btn btn-danger" ng-click="removeOutPaper(tmd)">删除</button>
                            <button type="button" class="btn btn-success"
                                    ng-click="changeItem(mbdt.MUBANDATI_ID, tmd.TIMU_ID)">换一题</button>
                            <button type="button" class="btn btn-success" ng-click="moveTM(tmd,-1)" ng-hide="$first">上移</button>
                            <button type="button" class="btn btn-success" ng-click="moveTM(tmd,1)" ng-hide="$last">下移</button>
                        </h5>
                        <div class="item-cont">
                            <h3 class="item-tigan" title="点击设置" ng-init="sj_item_score = true">
                                <div class="item-score" ng-click="sj_item_score = false">
                                    {{$index + 1}}、{{ tmd.TIGAN.tiGan }}
                                    （本小题 {{tmd.xiaotiScore && tmd.xiaotiScore > 0 ? tmd.xiaotiScore : 'X'}} 分）
                                </div>
                                <div class="sj-edit-box" ng-hide="sj_item_score">
                                    <div class="sj-edit-box-inner">
                                        <input type="text" ng-model="tmd.xiaotiScore" autofocus="true"
                                               placeholder="此小题分数" maxlength="3"
                                               onkeyup="this.value=this.value.replace(/\D/g,'')"
                                               onafterpaste="this.value=this.value.replace(/\D/g,'')"/>
                                        <button type="button" class="btn btn-primary"
                                                ng-click="addXiaotiScore(mbdt); sj_item_score = true">确定</button>
                                        <button type="button" class="btn btn-danger"
                                                ng-click="sj_item_score = true; tmd.xiaotiScore = ''">取消</button>
                                    </div>
                                </div>
                            </h3>
                            <div class="item-tizhi-wrap">
                                <p class="item-tizhi" ng-repeat="tz in tmd.TIGAN.tiZhiNeiRong">
                                    {{letterArr[$index]}}.{{tz}}
                                </p>
                            </div>
                        </div>
                        <div class="write-answer-region" ng-show="tmd.TIMULEIXING_ID == 9">
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!--弹出层用来修改题目和大题的信息-->
        <div class="sj-edit-box" ng-show="shijuan_edit">
            <div class="sj-edit-box-inner">
                <h2 class="sj-setting-title">
                    <span>试卷设置</span>
                </h2>
                <div class="setting-content">
                    <div class="paper-info-edit">
                        <div class="row">
                            <input type="text" ng-model="shijuanData.shuju.SHIJUANMINGCHENG" placeholder="XXX试卷"
                                   class="sj_dt_input form-control"/>
                        </div>
                        <div class="row">
                            <input type="text" ng-model="shijuanData.shuju.FUBIAOTI" placeholder="试卷副标题"
                                   class="sj_fbt_input form-control"/>
                        </div>
                        <div class="row">
                            <textarea ng-model="mubanData.shuju.ZONGDAOYU" rows="5"  placeholder="导语"
                                      class="sj_dy_input form-control">
                            </textarea>
                        </div>
                    </div>
                    <div class="item-info-edit">
                        <div class="row" ng-repeat="mbdt in mubanData.shuju.MUBANDATI">
                            <input type="text" ng-model="mbdt.DATIMINGCHENG" placeholder="此大题名称"
                                   class="form-control {{'dt_name' + $index}}"/>
                            <input type="text" ng-model="mbdt.datiScore"  placeholder="此大题分数" maxlength="3"
                                   class="form-control {{'dt_score' + $index}}"
                                   onkeyup="this.value=this.value.replace(/\D/g,'')"
                                   onafterpaste="this.value=this.value.replace(/\D/g,'')"/>
                        </div>
                    </div>
                </div>
                <div class="submit-edit-info">
                    <button type="button" class="btn btn-primary"
                            ng-click="saveEditPaper()">确定</button>
                    <button type="button" class="btn btn-danger"
                            ng-click="cancelEditPaper()">取消</button>
                </div>
            </div>
        </div>
    </form>
    <div class="save-paper-box" ng-show="baocunshijuanBtn">
        <button type="button" class="btn btn-primary" ng-click="makeDaTiKa()">生成答题卡</button>
        <button type="button" class="btn btn-primary" ng-click="savePaper()">保存试卷</button>
    </div>
</div>