<div class="row">
    <h2 class="total-test"> 共<strong>{{testListId.length}}</strong>题 </h2>
    <div class="errorMsg" ng-hide="timudetails.length">没有找到符合的题目！</div>
    <ul class="list-unstyled testList">
        <li ng-repeat="tm in timudetails" class="delete_{{tm.TIMU_ID}}">
            <!--<h3 class="item-title">2013年初中毕业升学考试（天津卷）数学（带解析）</h3>-->
            <div class="item-sub-title pull-left">
                <p class="use-times">
                    <span>44人</span>使用过
                </p>
                <p class="knowledge-point">
                    知识点：<span ng-repeat="zsd in tm.ZHISHIDIAN">{{zsd.ZHISHIDIANMINGCHENG}}</span>
                </p>
                <p class="level-num">
                    难易度：<span class="pull-right level-star-{{tm.NANDU_ID}}"></span>
                </p>
                <p>
                    更新日期：{{tm.UPDATE_TIME | date:'yyyy-MM-dd HH:mm:ss'}}
                </p>
                <div class="editWrap" ng-show="tm.CHUANGJIANREN_UID == caozuoyuan">
                    <button type="button" class="btn btn-danger" ng-click="deleteItem(tm.TIMU_ID, $index)">删除试题</button>
                    <button type="button" class="btn btn-success" ng-click="editItem(tm)">修改试题</button>
                </div>
            </div>
            <div class="item-cont">
                <h3 class="item-tigan">
                    【题干】{{ tm.TIGAN.tiGan }}
                </h3>
                <div class="item-tizhi-wrap">
                    <p class="item-tizhi" ng-repeat="tz in tm.TIGAN.tiZhiNeiRong">
                        {{letterArr[$index]}}.{{tz}}
                    </p>
                </div>
            </div>
        </li>
    </ul>
    <div class="paging text-right">
        <ul class="pagination pagination-sm" ng-hide="!testListId">
            <li ng-class="{disabled: currentPageNum == 1}">
                <a href ng-click="getThisPageData(1)">首页</a>
            </li>
            <li ng-class="{disabled: currentPageNum == 1}">
                <a href
                   ng-click="getThisPageData(prevPg = currentPageNum > 1 ? currentPageNum - 1 : 1)">
                    上一页
                </a>
            </li>
            <li ng-repeat="pg in pages" ng-class="{active: currentPageNum == pg}">
                <a href ng-click="getThisPageData(pg)">{{pg}}</a>
            </li>
            <li ng-class="{disabled: currentPageNum == lastPageNum}">
                <a href
                   ng-click="getThisPageData(nextPg = currentPageNum < lastPageNum ? currentPageNum + 1 : lastPageNum)">
                    下一页
                </a>
            </li>
            <li ng-class="{disabled: currentPageNum == lastPageNum}">
                <a href  ng-click="getThisPageData(lastPageNum)">尾页</a>
            </li>
        </ul>
        <!--<a href="javascript:void(0)" ng-click="getThisPageData(0)">首页</a>-->
        <!--<a href="javascript:void(0)" ng-repeat="pg in pages" ng-click="getThisPageData(pg)">{{pg}}</a>-->
        <!--<a href="javascript:void(0)">尾页</a>-->
    </div>
</div>