<div class="row">
    <div class="total-test clearfix">
        <div class="loading-box text-center" ng-show="loadingImgShow">
            <img src="/images/loading.gif" alt=""/>
            <p>数据加载中，请耐心等待……</p>
        </div>
        <div class="pull-left">
            <a href="javascript:void(0)" class="btn btn-primary" ng-hide="patternListToggle || alterTiXingBox"
               ng-click="addNewShiTi()">
                <span class="glyphicon glyphicon-plus"></span> 添加试题
            </a>
        </div>
        <div class="pull-left allTestNums">
            共<strong ng-bind="testListId.length"></strong>题
        </div>
        <!--<div class="pull-left checkbox">-->
            <!--<label>-->
                <!--<input type="checkbox" ng-model="isCheckSchoolTiKu" ng-change="checkSchoolTiMu(isCheckSchoolTiKu)">-->
                <!--查看学校题库-->
            <!--</label>-->
        <!--</div>-->
        <button type="button" class="hide reloadMath">点我</button> <!--用于刷新函数-->
    </div>
    <ul class="list-unstyled testList" id="testList">
        <li ng-repeat="tm in timudetails" class="delete_{{tm.TIMU_ID}}" repeat-done>
            <div class="item-sub-title pull-left">
                <p class="knowledge-point">
                    题型：<span ng-bind="tiXingNameArr[tm.TIXING_ID-1]"></span>
                </p>
                <p class="knowledge-point">
                    知识点：<span ng-repeat="zsd in tm.ZHISHIDIAN" ng-bind="zsd.ZHISHIDIANMINGCHENG"></span>
                </p>
                <p class="level-num">
                    难易度：<span class="pull-right level-star-{{tm.NANDU_ID}}"></span>
                </p>
                <p class="knowledge-point">
                    出题人：<span class="pull-right" ng-bind="tm.chuangjianren"></span>
                </p>
                <div class="editWrap" ng-show="tm.CHUANGJIANREN_UID == caozuoyuan">
                    <button type="button" class="btn btn-default" ng-click="deleteItem(tm.TIMU_ID, $index)">删除</button>
                    <button type="button" class="btn btn-default"
                            ng-click="patternListToggle = true; editItem(tm)">修改</button>
                </div>
            </div>
            <div class="item-cont" bn-slide-show slide-show-target="answer-cont" title="显示答案">
                <h3 class="item-tigan"
                    ng-bind="tm.TIGAN.tiGan">
                </h3>
                <div class="item-tizhi-wrap">
                    <p class="item-tizhi" ng-repeat="tz in tm.TIGAN.tiZhiNeiRong track by $index">
                        <span ng-bind="letterArr[$index] + '. '"></span>
                        <span class="tiZhiSpan" ng-bind="tz"></span>
                    </p>
                </div>
            </div>
            <div class="answer-cont">
                <span class="daAnLabel">答案：</span>
                <div class="daAnBox"
                     ng-bind="tm.DAAN"></div>
            </div>
        </li>
    </ul>
    <div class="paging text-right">
        <ul class="pagination pagination-sm" ng-hide="!testListId">
            <li ng-class="{disabled: currentPageNum == 1}">
                <a href ng-click="getThisPageData(1)">首页</a>
            </li>
            <li ng-class="{disabled: currentPageNum == 1}">
                <a href
                   ng-click="getThisPageData(prevPg = currentPageNum > 1 ? currentPageNum - 1 : 1)">
                    上一页
                </a>
            </li>
            <li ng-repeat="pg in pages track by $index" ng-class="{active: currentPageNum == pg}">
                <a href ng-click="getThisPageData(pg)">{{pg}}</a>
            </li>
            <li ng-class="{disabled: currentPageNum == lastPageNum}">
                <a href
                   ng-click="getThisPageData(nextPg = currentPageNum < lastPageNum ? currentPageNum + 1 : lastPageNum)">
                    下一页
                </a>
            </li>
            <li ng-class="{disabled: currentPageNum == lastPageNum}">
                <a href  ng-click="getThisPageData(lastPageNum)">尾页</a>
            </li>
        </ul>
    </div>
</div>
<script type="text/javascript" src="bower_components/markitup/MathJax.js?config=TeX-AMS_HTML-full"></script>
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {inlineMath: [["$","$"],["\\(","\\)"]]}
  });
</script>
<script type="text/javascript">
    $('.reloadMath').on('click', function(){
        MathJax.Hub.Queue(["Typeset", MathJax.Hub, "testList"]);
    });
</script>