<div class="chart-wrap">
    <div id="score1" style="width:48%;height:400px;float:left;">

    </div>
    <div id="score2" style="width:48%;height:400px;float:left;">

    </div>
    <div class="avg-score">
        <span>平均分</span>
        <p ng-bind="myAvgScore"></p>
    </div>
</div>
<ul class="list-inline tagnCent wp100 pull-left mt15">
    <li>
        <a href="javascript:void(0)">考试1</a>
    </li>
    <li>
        <a href="javascript:void(0)">考试2</a>
    </li>
    <li>
        <a href="javascript:void(0)">考试3</a>
    </li>
    <li>
        <a href="javascript:void(0)">考试4</a>
    </li>
    <li>
        <a href="javascript:void(0)">考试5</a>
    </li>
</ul>