<div class="chart-wrap">
    <div id="score1" style="width:48%;height:400px;float:left;">

    </div>
    <div id="score2" style="width:48%;height:400px;float:left;">

    </div>
    <div class="avg-score">
        <span>平均分</span>
        <p ng-bind="myAvgScore"></p>
    </div>
</div>
<ul class="list-inline tagnCent wp100 pull-left mt15" ng-show="tjChartNav[0].KAOSHI_ID">
    <li ng-repeat="tjdata in tjChartNav">
        <a href="javascript:void(0)" ng-bind="tjdata.KAOSHI_MINGCHENG" ng-class="{active: activeIdx == $index}"
           ng-click="showDiffScoreChart(tjdata.KAOSHI_ID, 'ksId')"></a>
    </li>
</ul>
<ul class="list-inline tagnCent wp100 pull-left mt15" ng-show="tjChartNav[0].SHIJUAN_ID">
    <li ng-repeat="tjdata in tjChartNav">
        <a href="javascript:void(0)" ng-bind="tjdata.SHIJUAN_MINGCHENG" ng-class="{active: activeIdx == $index}"
           ng-click="showDiffScoreChart(tjdata.SHIJUAN_ID, 'sjId')"></a>
    </li>
</ul>