<table class="tj-table">
    <tr>
        <th>考试名称</th>
        <th>试卷名称</th>
        <th width="120px" class="text-center">考试人数</th>
        <th width="120px" class="text-center">考试时间</th>
    </tr>
    <tr ng-repeat="ks in tjKaoShiData">
        <td>
            <a href="javascript:void(0)" ng-click="showKsTjDetail(ks.KAOSHI_ID)" ng-bind="ks.KAOSHI_MINGCHENG"></a>
        </td>
        <td>
            <a href="javascript:void(0)" ng-repeat="kssj in ks.SHIJUAN" ng-bind="kssj.SHIJUAN_MINGCHENG"
               ng-click="showSjTjDetail(kssj.SHIJUAN_ID, 'ksList')"></a>
        </td>
        <td class="text-center" ng-bind="ks.KSRS"></td>
        <td class="text-center" ng-bind="ks.KAISHISHIJIAN | myLocalDate | date : 'yyyy-MM-dd'"></td>
    </tr>
</table>

