<div class="tm-err-rate" ng-repeat="tm in tjTiMuDetail">
    <ul class="tm-err-rate-info">
        <li>作答人数 <span ng-bind="tm.DTRS"></span></li>
        <li>答对人数 <span ng-bind="tm.DDRS"></span></li>
        <li>答错率 <span ng-bind="tm.DCLV*100 + '%'"></span></li>
    </ul>
    <div class="tm-err-rate-cont" bn-slide-show slide-show-target="answer-cont" title="显示答案">
        <div ng-bind-html="tm.TIGAN.tiGan"></div>
        <div class="item-tizhi-wrap">
            <p class="item-tizhi" ng-repeat="tz in tm.TIGAN.tiZhiNeiRong track by $index">
                <span ng-bind="letterArr[$index] + '. '"></span>
                <span class="tiZhiSpan" ng-bind-html="tz"></span>
            </p>
        </div>
    </div>
    <div class="answer-cont">
        <span class="daAnLabel">答案：</span>
        <div class="daAnBox" ng-bind-html="tm.DAAN"></div>
    </div>
</div>