<div class="sub-nav" ng-init="tabActive = 'shiJuan'">
    <ul class="nav nav-tabs">
        <li ng-class="{active: tabActive == 'shiJuan' }">
            <a href="javascript:void(0)" ng-click="tabActive = 'shiJuan';showPaperList()">
                试卷列表
            </a>
        </li>
        <li ng-class="{active: tabActive == 'zjRule'}">
            <a href="javascript:void(0)" ng-click="tabActive = 'zjRule';showZuJuanRuleList()">
                组卷规则
            </a>
        </li>
    </ul>
    <!-- 考务的容器 开始-->
    <div class="tab-content" ng-include="zjTpl">

    </div>
    <!-- 考务的容器 结束-->
</div>