<div class="loading-box text-center" ng-show="loadingImgShow">
    <img src="/images/loading.gif" alt=""/>
    <p>数据加载中，请耐心等待……</p>
</div>
<div class="row ruleMakePaper-header">
    <table>
        <tr>
            <th>题型</th>
            <th width="80px">数量</th>
            <th width="300px">难度：
                <span class="coefftRule">0.50</span>
                <em>(建议0.20-0.80之间)</em>
            </th>
            <th>
            </th>
        </tr>
        <tr>
            <td>
                <select class="form-control ruleMakePaperSelectId" ng-model="ruleMakePaperTx.selectTx"
                        ng-change="rmpGetTxId(ruleMakePaper.selectTx)"
                        ng-options="tx.TIXING_ID as tx.TIXINGMINGCHENG for tx in kmtxList">
                    <option value="">请选择</option>
                </select>
            </td>
            <td>
                <input type="text" class="form-control txNum" maxlength="3"
                       onkeyup="this.value=this.value.replace(/\D/g,'')"
                       onafterpaste="this.value=this.value.replace(/\D/g,'')"/>
            </td>
            <td class="nandu-dist" ng-mouseover="resize('Rule')">
                <div class="distBox">
                    <span class="maskLabel pull-left">容易</span>
                    <div class="sliderBox pull-left">
                        <div id="sliderItemRule" class="sliderItem">
                            <div class="sliderItemInner sliderItemInnerRule"></div>
                            <div id="sliderBtnRule" class="sliderBtn"></div>
                        </div>
                    </div>
                    <span class="maskLabel pull-left">困难</span>
                </div>
            </td>
            <td class="text-right">
                <button type="button" class="btn btn-primary" ng-click="addRuleCondition()">
                    添加试题
                </button>
                <button type="button" class="btn btn-danger" ng-click="backToZuJuanHome()">
                    返回
                </button>
            </td>
        </tr>
    </table>
</div>
<div class="row ruleMakePaper-body">
    <div ng-repeat="txw in ampKmtxWeb" ng-show="txw.zsdXuanTiArr.length">
        <h4 ng-bind="txw.TIXINGMINGCHENG">单选题</h4>
        <table>
            <tr>
                <th>知识点</th>
                <th>数量</th>
                <th>难度</th>
            </tr>
            <tr ng-repeat="xttj in txw.zsdXuanTiArr track by $index">
                <td ng-bind="xttj.zsdNameArr.join('；')"></td>
                <td ng-bind="xttj.TIXING[0].COUNT"></td>
                <td ng-bind="xttj.NANDU"></td>
            </tr>
        </table>
    </div>
</div>
<div class="row fixed-bottom">
    <label class="checkbox-inline">
        <input type="checkbox" value="" ng-model="isTiMuQuChong">题目去重（一年）
    </label>
    <button type="button" class="btn btn-primary" ng-click="addRuleMakePaperShiJuan()">生成试卷</button>
</div>
