<div class="row">
    <div class="loading-box text-center" ng-show="loadingImgShow">
        <img src="/images/loading.gif" alt=""/>
        <p>
            数据保存中……
        </p>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" role="form">
            <fieldset class="form-header">
                <div class="form-group form-th">
                    <div class="col-sm-8 col-sm-offset-1 text-center">
                        题干
                    </div>
                </div>
                <div class="form-group zsdNameBox">
                    <div class="col-sm-8 col-sm-offset-1">
                        知识点：<span ng-bind="selectZhiShiDian"></span>
                    </div>
                </div>
                <div class="form-group answerBox">
                    <div class="col-sm-8 col-sm-offset-1 text-right">
                        <a href="javascript:void(0)" ng-click="showDuoXuanTiGanEditor()">题干编辑器</a>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-1 control-label">题目</label>
                    <div class="col-sm-8">
                        <!-- <textarea class="form-control" rows="3" ng-model="duoXuanData.shuju.TIGAN"
                        placeholder="请输入题干"></textarea> -->
                        <textarea class="form-control ckeditor" rows="3" ng-model="duoXuanData.shuju.TIGAN"
                                  name="editorDuoXuan" placeholder="请输入题干"></textarea>
                    </div>
                    <!-- <div class="col-sm-3">
                    <button type="button" class="btn btn-default" ng-click="showDuoXuanTiGanEditor()">
                    展开编辑器
                    </button>
                    </div> -->
                </div>
            </fieldset>
            <fieldset class="form-body">
                <div class="form-group" ng-show='showDuoXuanTiZhiEdt'>
                    <div class="col-sm-8 col-sm-offset-1">
                        <textarea class="form-control ckeditor" rows="3" name="editorDuoXuanTiZhi">
                        </textarea>
                    </div>
                    <div class="col-sm-8 col-sm-offset-1 assignment-box">
                        <span>将题支编辑器的内容赋值给选项：</span>
                        <label class="radio-inline" ng-repeat="num in loopArr">
                            <input type="radio" name="fuzhi" value="$index" ng-click='fuZhiFun($index)'> {{letterArr[$index]}}
                        </label>
                    </div>
                </div>
                <div class="form-group answerBox">
                    <div class="col-sm-8 col-sm-offset-1 text-right">
                        <a href="javascript:void(0)" ng-click="showDuoXuanTiZhiEditor()"
                           ng-hide="showDuoXuanTiZhiEdt">题支编辑器</a>
                        <a href="javascript:void(0)" ng-click="hideDuoXuanTiZhiEditor()"
                           ng-show="showDuoXuanTiZhiEdt">隐藏题支编辑器</a>
                    </div>
                    <div class="col-sm-3">
                        正确答案
                    </div>
                </div>
                <div class="form-group tizhiWrap" ng-repeat="num in loopArr">
                    <label class="col-sm-1 control-label">{{letterArr[$index]}}.</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control tiZhi" placeholder="请输入选项">
                        <div class="form-control imitationInput"></div>
                    </div>
                    <div class="col-sm-2">
            <span class="glyphicon glyphicon-minus-sign delete-this-tiem" ng-click="deleteOneItem()"
                  ng-hide="loopArr.length < 3"></span>
                        <div class="radio {{'answer' + $index}}" ng-class="" ng-click="chooseDuoxuanDaan($index)">
                            <input class="hidden" type="checkbox" name="rightAnswer" value="{{$index}}">
                            <span class="glyphicon glyphicon-ok"></span>
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset class="form-footer">
                <div class="form-group">
                    <a href="javascript:void(0)" id="add-one-item" title="增加一项" ng-click="addOneItem()"
                       class="col-sm-1 control-label text-right add-btn" ng-hide="loopArr.length > 25">
                        <span class="glyphicon glyphicon-plus-sign"></span> </a>
                </div>
                <div class="form-group nadu-select">
                    <div class="col-sm-8 col-sm-offset-1">
                        <label class="radio-inline">
                            <input type="radio" name="difficulty" ng-model="duoXuanData.shuju.NANDU_ID" value="1">
                            容易 </label>
                        <label class="radio-inline">
                            <input type="radio" name="difficulty" ng-model="duoXuanData.shuju.NANDU_ID" value="2">
                            较易 </label>
                        <label class="radio-inline">
                            <input type="radio" name="difficulty" ng-model="duoXuanData.shuju.NANDU_ID" value="3">
                            一般 </label>
                        <label class="radio-inline">
                            <input type="radio" name="difficulty" ng-model="duoXuanData.shuju.NANDU_ID" value="4">
                            较难 </label>
                        <label class="radio-inline">
                            <input type="radio" name="difficulty" ng-model="duoXuanData.shuju.NANDU_ID" value="5">
                            困难 </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-1 col-sm-8 text-right">
                        <span class="save-msg">保存成功!</span>
                        <button type="button" class="btn btn-primary" ng-click="addDuoxuanShiTi()">
                            保存
                        </button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <!--<script type="text/javascript">-->
    <!--CKEDITOR.replace("editorDuoXuan");-->
    <!--</script>-->
</div>