<div class="randomMakePaperWrap">
  <div class="loading-box text-center" ng-show="loadingImgShow">
    <img src="/images/loading.gif" alt="" width="64" height="64"/>
    <p>数据加载中，请耐心等待……</p>
  </div>
  <div class="row ruleMakePaper-header" ng-hide="randomTestListShow">
    <table>
      <tr>
        <th>题型</th>
        <th width="80px">数量</th>
        <th width="300px">难度</th>
        <th></th>
      </tr>
      <tr>
        <td>
          <select class="form-control ruleMakePaperSelectId" ng-model="ruleMakePaperTx.selectTx"
                  ng-change="rmpGetTxId(ruleMakePaperTx.selectTx)"
                  ng-options="tx.TIXING_ID as tx.TIXINGMINGCHENG for tx in kmtxList">
            <option value="">请选择</option>
          </select>
        </td>
        <td>
          <input type="text" class="form-control txNum" maxlength="3"
                 onkeyup="this.value=this.value.replace(/\D/g,'')"
                 onafterpaste="this.value=this.value.replace(/\D/g,'')"/>
        </td>
        <td class="nandu-dist">
          <ul class="list-unstyled zj-style-star" ng-class="zjNaDuStar">
            <li><a href="javascript:void(0)" ng-click="zjNanDuSelect(1)"></a></li>
            <li><a href="javascript:void(0)" ng-click="zjNanDuSelect(2)"></a></li>
            <li><a href="javascript:void(0)" ng-click="zjNanDuSelect(3)"></a></li>
            <li><a href="javascript:void(0)" ng-click="zjNanDuSelect(4)"></a></li>
            <li><a href="javascript:void(0)" ng-click="zjNanDuSelect(5)"></a></li>
          </ul>
        </td>
        <td class="text-right">
          <button type="button" class="btn btn-primary" ng-click="addRuleCondition()">
            添加规则
          </button>
          <button type="button" class="btn btn-danger" ng-click="ruleBackToZuJuanHome()">
            返回
          </button>
        </td>
      </tr>
    </table>
  </div>
  <div class="row ruleMakePaper-body"  ng-hide="randomTestListShow">
    <div class="randomPart">
      <div ng-repeat="txw in ampKmtxWeb" ng-show="txw.zsdXuanTiArr.length">
        <h4><span ng-bind="txw.TIXINGMINGCHENG"></span>
          <span class="txTotalNum">共<strong ng-bind="txw.txTotalNum"></strong>题</span>
        </h4>
        <table>
          <tr>
            <th width="70%">知识点</th>
            <th width="10%">数量</th>
            <th width="10%">难度</th>
            <th>删除</th>
          </tr>
          <tr ng-repeat="xttj in txw.zsdXuanTiArr track by $index">
            <td hover-slide hover-slide-target="zsdPreview" hover-slide-getval="font-cut"
                hover-slide-setval="zsdPreviewInner">
              <input type="text" value="{{xttj.zsdNameArr.join('；')}}" disabled class="font-cut">
            </td>
            <td ng-bind="xttj.TIXING[0].COUNT"></td>
            <td ng-bind="xttj.NANDU * 5"></td>
            <td>
              <span class="glyphicon glyphicon-trash" ng-click="deleteRuleCondition(txw, $index)"></span>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="fixedTiMu mt15">
      <h4 class="cursorPointer" ng-click="randomMpShowItem()">
        <span class="glyphicon glyphicon-plus cBlue"></span>添加固定题目
      </h4>
      <div id="myPaper" style="background: #FFFFFF">
        <h1 class="paper-title text-center hover-style" title="点击设置">
          <span class="sj-param-val" ng-click="editMuBanDaTiNameAndScore('sj_dt_input')">
              {{ shijuanData.shuju.SHIJUANMINGCHENG || '点击设置试卷名称'}}
          </span>
        </h1>
        <h1 class="paper-sub-title text-center hover-style" title="点击设置" ng-show="shijuanData.shuju.FUBIAOTI">
          <span class="sj-param-val" ng-click="editMuBanDaTiNameAndScore('sj_fbt_input')">
              {{ shijuanData.shuju.FUBIAOTI}}
          </span>
        </h1>
        <div class="attention hover-style" title="点击设置" ng-show="mubanData.shuju.ZONGDAOYU">
          <span class="sj-param-val" ng-click="editMuBanDaTiNameAndScore('sj_dy_input')">
              {{ mubanData.shuju.ZONGDAOYU }}
          </span>
        </div>
        <!--用于刷新函数-->
        <div class="shijuantimu-list" id="shiJuanTestList">
          <div ng-repeat="mbdt in mubanData.shuju.MUBANDATI" repeat-done>
            <div class="mubandati">
              <div class="dati-name-box" title="点击设置大题名称"
                   ng-click="editMuBanDaTiNameAndScore('dt_name' + $index)">
                <span>{{cnNumArr[$index]}}、</span>
                <span class="dati-name">{{mbdt.DATIMINGCHENG}}</span>
              </div>
              <div class="dati-score-box" title="点击设置大题分数" ng-click="editMuBanDaTiNameAndScore('dt_score' + $index)">
                <p>
                  <span>（本大题共</span>
                  <span class="xiaoti-total"> {{mbdt.TIMUARR.length}} </span>
                  <span>小题，</span>
                </p>
                <p ng-hide="mbdt.datiScore">
                  <a href="javascript:void(0)">点击设置本大题分数</a><span>）</span>
                </p>
                <p ng-show="mbdt.datiScore">
                  <span>共</span>
                  <span class="dati-total-score" ng-bind="mbdt.datiScore >= 0 ? mbdt.datiScore : 'X'"></span>
                  <span>分）</span>
                </p>
              </div>
              <div class="dati-name-box datiMoveBtns">
                <button type="button" class="btn btn-default" ng-click="moveDaTi($index,-1)" ng-hide="$first">上移</button>
                <button type="button" class="btn btn-default" ng-click="moveDaTi($index,1)" ng-hide="$last">下移</button>
              </div>
            </div>
            <ul class="list-unstyled testList">
              <li ng-repeat="tmd in mbdt.TIMUARR" repeat-done>
                <h5 class="item-title text-right">
                  <button type="button" class="btn btn-default" ng-click="removeOutPaper(tmd)">删除</button>
                  <button type="button" class="btn btn-primary"
                          ng-click="changeItem(mbdt.MUBANDATI_ID, tmd.TIMU_ID)">换一题
                  </button>
                  <button type="button" class="btn btn-default" ng-click="moveTM(tmd,-1,mbdt.MUBANDATI_ID)" ng-hide="$first">上移</button>
                  <button type="button" class="btn btn-default" ng-click="moveTM(tmd,1,mbdt.MUBANDATI_ID)" ng-hide="$last">下移</button>
                </h5>
                <div class="item-cont">
                  <div class="item-tigan" title="点击设置" ng-init="sj_item_score = true">
                    <div class="item-score" ng-click="sj_item_score = false">
                      <span ng-bind-html="($index + 1) + '、' + tmd.TIGAN.tiGan | outTiGan:tm.TIXING_ID"></span>
                  <span ng-hide="tmd.xiaotiScore">
                     （<a href="javascript:void(0)">点击设置本小题分数</a>）
                  </span>
                  <span ng-show="tmd.xiaotiScore">
                      {{'（本小题' + (tmd.xiaotiScore >= 0 ? tmd.xiaotiScore : 'X') + '分）'}}
                  </span>
                    </div>
                    <div class="popup-wrap" ng-hide="sj_item_score">
                      <div class="popup-wrap-inner no-header">
                        <div class="pwi-body plr10">
                          <input type="text" ng-model="tmd.xiaotiScore" autofocus="true"
                                 placeholder="此小题分数" maxlength="4" class="form-control xiaoTiScoreInput"
                                 onkeyup="if(isNaN(value))execCommand('undo')"
                                 onafterpaste="if(isNaN(value))execCommand('undo')"/>
                        </div>
                        <div class="pwi-footer plr10 text-center">
                          <button type="button" class="btn btn-danger mt5" ng-click="sj_item_score = true; tmd.xiaotiScore = ''">取消
                          </button>
                          <button type="button" class="btn btn-primary mt5 ml15" ng-click="addXiaotiScore(mbdt); sj_item_score = true">确定
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="item-tizhi-wrap">
                    <p class="item-tizhi" ng-repeat="tz in tmd.TIGAN.tiZhiNeiRong track by $index" ng-bind-html="'(' + letterArr[$index] + ') ' + tz">
                    </p>
                  </div>
                </div>
                <div class="write-answer-region" ng-show="tmd.TIMULEIXING_ID == 9">
                </div>
              </li>
            </ul>
          </div>
        </div>
        <!--弹出层用来修改题目和大题的信息-->
        <div class="popup-wrap alter-dati" ng-show="shijuan_edit">
          <div class="popup-wrap-inner">
            <div class="pwi-header plr10 text-center">
              <span class="title">试卷设置</span>
            </div>
            <div class="pwi-body plr10">
              <div class="paper-info-edit">
                <div class="row">
                  <label>试卷主标题：</label>
                  <input type="text" class="form-control sj_dt_input"
                         ng-model="shijuanData.shuju.SHIJUANMINGCHENG" placeholder="试卷名称"/>
                </div>
                <div class="row showAddFuBiaoTi" ng-init="showAddFuBiaoTi = false">
                  <a href ng-click="showAddFuBiaoTi = !showAddFuBiaoTi" ng-hide="showAddFuBiaoTi">
                    <span class="glyphicon glyphicon-plus"></span>增加副标题
                  </a>
                  <a href ng-click="showAddFuBiaoTi = !showAddFuBiaoTi; shijuanData.shuju.FUBIAOTI = ''"
                     ng-show="showAddFuBiaoTi">
                    <span class="glyphicon glyphicon-plus"></span>取消副标题
                  </a>
                </div>
                <div class="row" ng-show="showAddFuBiaoTi">
                  <input type="text" ng-model="shijuanData.shuju.FUBIAOTI" placeholder="试卷副标题"
                         class="form-control sj_fbt_input"/>
                </div>
                <div class="row showAddFuBiaoTi" ng-init="showAddDaoYu = false">
                  <a href ng-click="showAddDaoYu = !showAddDaoYu" ng-hide="showAddDaoYu">
                    <span class="glyphicon glyphicon-plus"></span>增加导语
                  </a>
                  <a href ng-click="showAddDaoYu = !showAddDaoYu; mubanData.shuju.ZONGDAOYU = ''"
                     ng-show="showAddDaoYu">
                    <span class="glyphicon glyphicon-plus"></span>取消导语
                  </a>
                </div>
                <div class="row mt5" ng-show="showAddDaoYu">
                  <label>导语：</label>
              <textarea ng-model="mubanData.shuju.ZONGDAOYU" rows="5" placeholder="导语"
                        class="form-control sj_dy_input">
              </textarea>
                </div>
              </div>
              <div class="item-info-edit">
                <div class="row mt5">
                  <label>大题：</label>
                </div>
                <div class="row" ng-repeat="mbdt in mubanData.shuju.MUBANDATI">
                  <div class="col-sm-9 dati-box">
                    <span>{{cnNumArr[$index]}}、</span>
                    <input type="text" ng-model="mbdt.DATIMINGCHENG" placeholder="此大题名称"
                           class="form-control {{'dt_name' + $index}}"/>
                  </div>
                  <div class="col-sm-3 fenshu-box">
                    <span>分数：</span>
                    <input type="text" ng-model="mbdt.datiScore" placeholder="此大题分数" maxlength="5"
                           class="form-control {{'dt_score' + $index}}"
                           onkeyup="if(isNaN(value))execCommand('undo')"
                           onafterpaste="if(isNaN(value))execCommand('undo')"/>
                  </div>
                </div>
              </div>
            </div>
            <div class="pwi-footer plr10 text-center">
              <button type="button" class="btn btn-danger mt5" ng-click="cancelEditPaper()">取消</button>
              <button type="button" class="btn btn-primary mt5 ml15" ng-click="saveEditPaper()">确定</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row test-list-wrap" ng-show="randomTestListShow">
    <!--题型和难度DOM元素， 开始-->
    <div class="row fixed-top">
      <div class="kmTxWrap pull-left">
        <div class="kmTxBox">
          <ul class="list-inline kmTxNdList pull-left getTiXingIdList">
            <li class="tiXingId_all">
              <a href="javascript:void(0)" ng-click="getTiXingId()"
                 ng-class="{active:txSelectenIdx == 0}">全部题型</a>
            </li>
            <li ng-repeat="kmtx in kmtxList">
              <a href="javascript:void(0)" ng-click="getTiXingId(kmtx.TIXING_ID)"
                 ng-class="{active:txSelectenIdx == kmtx.TIXING_ID}"
                 ng-hide="hideOrShowTixing ? !(txSelectenIdx == kmtx.TIXING_ID) : false">
                {{ kmtx.TIXINGMINGCHENG }}
              </a>
            </li>
          </ul>
        </div>
        <div class="nanduBox">
          <ul class="list-inline kmTxNdList pull-left getNanDuIdList">
            <li class="nanDuId_all">
              <a href="javascript:void(0)" ng-click="getNanDuId()" ng-class="{active:ndSelectenIdx == 0}">全部难度</a>
            </li>
            <li class="nanDuId_1">
              <a href="javascript:void(0)" ng-click="getNanDuId(1)" ng-class="{active:ndSelectenIdx == 1}">容易</a>
            </li>
            <li class="nanDuId_2">
              <a href="javascript:void(0)" ng-click="getNanDuId(2)" ng-class="{active:ndSelectenIdx == 2}">较易</a>
            </li>
            <li class="nanDuId_3">
              <a href="javascript:void(0)" ng-click="getNanDuId(3)" ng-class="{active:ndSelectenIdx == 3}">一般</a>
            </li>
            <li class="nanDuId_4">
              <a href="javascript:void(0)" ng-click="getNanDuId(4)" ng-class="{active:ndSelectenIdx == 4}">较难</a>
            </li>
            <li class="nanDuId_5">
              <a href="javascript:void(0)" ng-click="getNanDuId(5)" ng-class="{active:ndSelectenIdx == 5}">困难</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="back-to-zujuan pull-left">
        <button type="button" class="btn btn-danger" ng-click="randomShowGuiZeAndItem()">确定</button>
      </div>
    </div>
    <!--题型和难度DOM元素， 结束-->
    <div class="row test-list-wrap">
      <div class="loading-box text-center" ng-show="loadingImgShow">
        <img src="/images/loading.gif" alt="" width="64" height="64"/>
        <p>数据加载中，请耐心等待……</p>
      </div>
      <div class="total-test clearfix mt15">
        <div class="pull-left mt5">
          共<strong>{{testListId.length}}</strong>题
        </div>
        <div class="pull-right">
          <div class="pull-left">
            <input type="text" ng-model="zuJuanParam.tiMuId" placeholder="题目ID" class="pull-left w80 mr5 h28"
                   onkeyup="if(isNaN(value))execCommand('undo')"
                   onafterpaste="if(isNaN(value))execCommand('undo')"/>
            <button type="button" class="btn btn-primary" ng-click="qryTestByTiMuId()">查询</button>
          </div>
          <div class="pull-left ml10">
            <select ng-model="zuJuanParam.tiMuAuthorId" class="form-control pull-right w200 h28 mr5"
                    ng-change="qryTiMuByChuTiRenId()"
                    ng-options="ctr.UID as ctr.XINGMING for ctr in chuTiRens">
              <option value="">请选择出题人</option>
            </select>
          </div>
        </div>
      </div>
      <ul class="list-unstyled testList" id="testList">
        <li ng-repeat="tm in timudetails" class="delete_{{tm.TIMU_ID}} pr100" repeat-done>
          <div class="item-sub-title pull-left">
            <p class="knowledge-point">
              题型：<span ng-bind="tiXingNameArr[tm.TIXING_ID-1]"></span>
            </p>
            <p class="knowledge-point">
              知识点：<span ng-repeat="zsd in tm.ZHISHIDIAN" ng-bind="zsd.ZHISHIDIANMINGCHENG"></span>
            </p>
            <p class="level-num">
              难易度：<span class="pull-right level-star-{{tm.NANDU_ID}}"></span>
            </p>
            <p class="knowledge-point">
              出题人：<span class="pull-right" ng-bind="tm.chuangjianren"></span>
            </p>
            <p class="knowledge-point">
              ID：<span class="pull-right" ng-bind="tm.TIMU_ID"></span>
            </p>
            <div class="editWrap">
              <h3 class="item-title text-right" ng-hide="isreplacetm">
                <button type="button" class="btn btn-primary" ng-click="addToPaper(tm)"
                        ng-hide="selectTestStr.indexOf('selectTest' + tm.TIMU_ID  + ',') >=0">加入试卷</button>
                <button type="button" class="btn btn-default" ng-click="removeOutPaper(tm)"
                        ng-show="selectTestStr.indexOf('selectTest' + tm.TIMU_ID  + ',') >=0">移出试卷</button>
              </h3>
              <h3 class="item-title text-right" ng-show="isreplacetm">
                <button type="button" class="btn btn-primary" ng-click="replaceCurrentTM(tm)"
                        ng-show="selectTestStr.indexOf('selectTest' + tm.TIMU_ID  + ',') < 0">替换</button>
                <button type="button" class="btn"
                        ng-hide="selectTestStr.indexOf('selectTest' + tm.TIMU_ID  + ',') < 0">已选</button>
              </h3>
            </div>
          </div>
          <div class="item-cont" bn-slide-show slide-show-target="answer-cont" slide-show-idx="{{$index}}" title="显示答案">
            <h3 class="item-tigan" ng-bind-html="tm.TIGAN.tiGan | outTiGan:tm.TIXING_ID"></h3>
            <div class="item-tizhi-wrap">
              <p class="item-tizhi" ng-repeat="tz in tm.TIGAN.tiZhiNeiRong track by $index">
                <span ng-cloak>{{'(' + letterArr[$index] + ')'}}</span>
                <span class="tiZhiSpan" ng-bind-html="tz"></span>
              </p>
            </div>
          </div>
          <div class="answer-cont">
            <span class="daAnLabel">答案：</span>
            <div class="daAnBox" ng-bind-html="tm.DAAN"></div>
          </div>
        </li>
      </ul>
      <div class="paging text-right">
        <ul class="pagination pagination-sm" ng-hide="!testListId">
          <li ng-class="{disabled: currentPageNum == 1}">
            <a href ng-click="getThisPageData(1)">首页</a>
          </li>
          <li ng-class="{disabled: currentPageNum == 1}">
            <a href
               ng-click="getThisPageData(prevPg = currentPageNum > 1 ? currentPageNum - 1 : 1)">
              上一页
            </a>
          </li>
          <li ng-repeat="pg in pages track by $index" ng-class="{active: currentPageNum == pg}">
            <a href ng-click="getThisPageData(pg)">{{pg}}</a>
          </li>
          <li ng-class="{disabled: currentPageNum == lastPageNum}">
            <a href
               ng-click="getThisPageData(nextPg = currentPageNum < lastPageNum ? currentPageNum + 1 : lastPageNum)">
              下一页
            </a>
          </li>
          <li ng-class="{disabled: currentPageNum == lastPageNum}">
            <a href  ng-click="getThisPageData(lastPageNum)">尾页</a>
          </li>
        </ul>
        <div>
          <span>共 <strong ng-bind="lastPageNum"></strong> 页，</span><span>跳转到</span>
          <input type="text" ng-model="zuJuanParam.goToPageNum" class="w110"
                 onkeyup="if(isNaN(value))execCommand('undo')" onafterpaste="if(isNaN(value))execCommand('undo')">
          <span>页</span> <button ng-click="getFixedPageData()">GO</button></div>
      </div>
    </div>
  </div>
  <div class="zsdPreview">
    <div class="zsdPreviewInner">
    </div>
  </div>
  <!--保存试卷确认框-->
  <div class="popup-wrap" ng-show="isSavePaperConfirm">
    <div class="popup-wrap-inner no-header">
      <div class="pwi-body">
        <table class="table-bordered paperConfirmTable">
          <tr>
            <th>题型</th>
            <th>数量</th>
            <th>分数</th>
          </tr>
          <tr ng-repeat="mbdtInfo in mubanData.shuju.MUBANDATI track by $index">
            <td ng-bind="mbdtInfo.DATIMINGCHENG"></td>
            <td ng-bind="mbdtInfo.TIMUARR.length"></td>
            <td ng-bind="mbdtInfo.datiScore"></td>
          </tr>
          <tr>
            <td colspan="3">
              总分：{{paperScore}}分
            </td>
          </tr>
        </table>
      </div>
      <div class="pwi-footer plr10 text-center">
        <button type="button" class="btn btn-danger mt5" ng-click="cancelSavePaper()">取消</button>
        <button type="button" class="btn btn-primary mt5 ml15" ng-click="savePaper()">确定</button>
      </div>
    </div>
  </div>
  <div class="row fixed-bottom" ng-hide="randomTestListShow">
    <table>
      <tr>
        <td>
          <button type="button" class="btn btn-primary" ng-click="savePaperConfirm('comeFromRandom')"
                  ng-disabled="ruleMakePaperSaveBtnDisabled">保存试卷
          </button>
        </td>
      </tr>
    </table>
  </div>
</div>

