<div class="row tj-ks-title">
  <span>按考试统计</span>
  <button class="btn btn-danger pull-right" ng-click="tjDetailToList()">返回</button>
</div>
<div class="tab-content ks-chart-page">
  <div class="row">
    <table class="table table-bordered bgcFFF wp48 pull-left">
      <tr>
        <th colspan="2" class="info">
          考试概要信息
        </th>
      </tr>
      <tr>
        <td>考试名称</td>
        <td ng-bind="singleKaoShi.KAOSHI_MINGCHENG"></td>
      </tr>
      <tr class="success">
        <td>平均分数</td>
        <td ng-bind="singleKaoShi.ksAvgScore"></td>
      </tr>
      <tr>
        <td>考试人数</td>
        <td ng-bind="singleKaoShi.KSRS"></td>
      <tr>
      <tr class="warning">
        <td>考试时间</td>
        <td ng-bind="singleKaoShi.KAISHISHIJIAN | myLocalDateWithWeek"></td>
      </tr>
      <tr>
        <td>使用试卷</td>
        <td>
          <span ng-if="singleKaoShi.LEIXING == 1">此处考试为随机试卷</span>
          <label class="checkbox-inline" ng-if="singleKaoShi.LEIXING == 0" ng-repeat="sj in singleKaoShi.SHIJUAN">
            <input type="checkbox" value="sj.SHIJUAN_ID" ng-if="singleKaoShi.sjNum > 1"> {{sj.SHIJUAN_MINGCHENG}}
          </label>
        </td>
      </tr>
    </table>
    <div class="tj-ks-box wp48 ml15">
      <h4 class="title">所选班级</h4>
      <div class="selectBanJi">
        <div class="banJiList">
          <ul class="list-unstyled banJiUl">
            <li ng-class="{active: tjParas.lastSelectBj.banJiIdx == 0}" ng-click="tjByBanJi('all')">
              <a href="javascript:void(0)">所有班级</a>
            </li>
            <li ng-repeat="bj in tjBanJi" ng-class="{active: bj.bjIdx == tjParas.lastSelectBj.banJiIdx}"
                ng-click="tjByBanJi(bj)">
              <a href="javascript:void(0)" ng-bind="bj.bjName"></a>
            </li>
          </ul>
          <div class="page">
            <p class="wp50 text-center up" ng-click="banJiPage('up')">
              <span class="glyphicon glyphicon-chevron-up"></span>
            </p>
            <p class="wp50 text-center down" ng-click="banJiPage('down')">
              <span class="glyphicon glyphicon-chevron-down"></span>
            </p>
          </div>
        </div>
        <div class="banJiName text-center">
          <span ng-bind="tjParas.selectBanJi"></span>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="tj-ks-box wp48">
      <h4 class="title">班级平均分布</h4>
      <div class="chart">
        <div id="chartBar" style="height:100%;width: 100%">
        </div>
      </div>
    </div>
    <div class="tj-ks-box wp48 ml15">
      <h4 class="title">考生成绩分布</h4>
      <div class="chart">
        <div id="chartPie" style="height:100%;width: 100%">
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="tj-ks-box wp48">
      <h4 class="title">分数与人数分布</h4>
      <div class="chart">
        <div id="chartLine" style="height:100%;width: 100%">
        </div>
      </div>
    </div>
    <div class="tj-ks-box wp48 ml15">
      <h4 class="title">考生名单</h4>
      <div class="chart">
        <div class="student-list">
          <table class="tj-table tj-table-detail">
            <tr>
              <th ng-click="ksSortDataFun('stuId')">学号</th>
              <th ng-click="ksSortDataFun('name')">姓名</th>
              <th ng-click="ksSortDataFun('class')">班级</th>
              <th ng-click="ksSortDataFun('score')">成绩</th>
            </tr>
            <tr ng-repeat="ksd in studentData">
              <td ng-bind="ksd.YONGHUHAO">
              </td>
              <td ng-bind="ksd.XINGMING">
              </td>
              <td ng-bind="ksd.BANJI">
              </td>
              <td ng-bind="ksd.ZUIHOU_PINGFEN">
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

