<div class="innerWrap dagangWrapper">
    <div class="dagangListWrap">
        <h2 class="logo pull-left"><img src="/images/mingti/icon/logo.png" alt=""/></h2>
        <div class="keMuName">
            <h2>科目名称：</h2>
            <p ng-bind="session.defaultLyName" class="keMuNameDetail"></p>
        </div>
        <div class="selectedDgName">
            <h2>题库默认大纲：</h2>
            <p ng-bind="defaultDaGang ? defaultDaGang : ''"></p>
        </div>
    </div>
    <div class="content">
        <div class="back-home-box">
            <button class="btn btn-danger" ng-click="backToDaGangHome()" ng-show="isPrivateDg || isPublicDg">
                返回大纲首页
            </button>
        </div>
        <div class="save-box">
            <span class="save-msg">保存成功!</span>
            <button class="btn btn-primary" ng-click="deleteDaGang()" ng-show="selectZjDgId">
                删除大纲
            </button>
            <button class="btn btn-primary" ng-click="saveZjDaGangData()" ng-show="isPrivateDg"
                    ng-disabled="prDgBtnDisabled">
                保存大纲
            </button>
            <button class="btn btn-primary" ng-click="saveZjDaGangData(true)" ng-show="isPrivateDg"
                    ng-disabled="prDgBtnDisabled">
                用作默认大纲
            </button>
            <button class="btn btn-primary" ng-click="makeDaGangAsDefault()" ng-show="isPublicDg">
                用作题库默认大纲
            </button>
        </div>
        <div class="row pt10 dagangInput" ng-init="dgTpl = 'views/partials/daGangHome.html'" ng-include="dgTpl">

        </div>
    </div>
    <script type="text/javascript" src="/bower_components/markitup/MathJax.js?config=TeX-AMS_HTML-full"></script>
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        tex2jax: {inlineMath: [["#$", "$#"]], displayMath: [['#$$','$$#']]},
        messageStyle: "none",
        showMathMenu: false,
        processEscapes: true
      });
    </script>
</div>