<div class="innerWrap dagangWrapper">
    <div class="dagangListWrap">
        <h2 class="logo pull-left"><img src="/images/mingti/icon/logo.png" alt=""/></h2>
        <div class="keMuName">
            <h2>科目名称：</h2>
            <p>{{session.defaultLyName}}</p>
        </div>
        <div class="selectedDgName">
            <h2>题库默认大纲：</h2>
            <p>{{defaultDaGang ? defaultDaGang : ''}}</p>
        </div>
    </div>
    <div class="content">
        <div class="back-home-box">
            <button class="btn btn-danger" ng-click="backToDaGangHome()" ng-show="isPrivateDg || isPublicDg">
                返回大纲首页
            </button>
        </div>
        <div class="save-box">
            <span class="save-msg">保存成功!</span>
            <button class="btn btn-primary" ng-click="saveZjDaGangData()" ng-show="isPrivateDg">
                保存并用作题库默认大纲
            </button>
            <button class="btn btn-primary" ng-click="makeDaGangAsDefault()" ng-show="isPublicDg">
                用作题库默认大纲
            </button>
        </div>
        <div class="row pt10 dagangInput" ng-init="dgTpl = 'views/partials/daGangHome.html'" ng-include="dgTpl">

        </div>
    </div>
</div>