<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <script text="text/javascript" src="hhh.js"></script>
  <style type="text/css">
    table, td {
      border: 1px solid #CC6600;
      border-collapse: collapse;
      font-size: 12px;
    }
    #tit {
      font-size: 24px;
    }
    #divResult {
      border: 1px solid #CC6600;
      font-size: 14px;
      display: none;
      letter-spacing: 2px
    }
    .divDan {
      background-color: #FFCC99
    }
    .divShuang {
      background-color: #FFFFEE;
      font-size: 14px;
    }
  </style>
</head>
<body>
<button type="button" onclick="sortArrFun()">分组</button>
<a href="#page1">page1</a>
<a href="#page2">page2</a>
<div id="page1" style="height: 800px">
  page1
</div>
<div id="page2" style="height: 800px">
  page2
</div>
<!--<form name="form1">-->
  <!--<table width="800" cellspacing="0" cellpadding="8" align="center">-->
    <!--<tr>-->
      <!--<td colspan="2">-->
        <!--<a href="http://www.longhuiwang.com/read.php?tid=36&ds=1&page=1&toread=1#tpc">Javascript 汉字转首字母的拼音（支持多音字的选择）</a>-->
        <!--<br>-->
        <!--希望各位高手帮我想想为什么我的网站不被搜索引擎收录！-->
        <!--<a href="mailto:xiangqian0505@163.com">给我留言</a>-->
      <!--</td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td align="right">-->
        <!--程序测试:-->
      <!--</td>-->
      <!--<td>-->
        <!--<span>请输入中文字符串:</span>-->
        <!--<input type="text" id="txtChinese" size="20" value=""-->
               <!--onblur="query()"/>-->
        <!--<span>拼音码:</span>-->
        <!--<select name="select11" id="select11" style="width: 150px;">-->
          <!--<option/>-->
        <!--</select>-->
      <!--</td>-->
    <!--</tr>-->
  <!--</table>-->
<!--</form>-->
</body>
</html>

<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head lang="en">-->
  <!--<meta charset="UTF-8">-->
  <!--<title></title>-->

<!--</head>-->
<!--<body>-->
<!--<script type="text/javascript">-->
  <!--function sortFun() {-->
    <!--var arr = new Array(23);-->
    <!--arr[0] = "张杨z";-->
    <!--arr[1] = "杨换y";-->
    <!--arr[2] = "学习x";-->
    <!--arr[3] = "吴生w";-->
    <!--arr[4] = "驼背t";-->
    <!--arr[5] = "上海s";-->
    <!--arr[6] = "人民r";-->
    <!--arr[7] = "权限q";-->
    <!--arr[8] = "评语p";-->
    <!--arr[9] = "偶像o";-->
    <!--arr[10] = "南方n";-->
    <!--arr[11] = "魅蓝m";-->
    <!--arr[12] = "来往l";-->
    <!--arr[13] = "坑洞k";-->
    <!--arr[14] = "家里j";-->
    <!--arr[15] = "或者h";-->
    <!--arr[16] = "故宫g";-->
    <!--arr[17] = "范围f";-->
    <!--arr[18] = "饿了e";-->
    <!--arr[19] = "等到d";-->
    <!--arr[20] = "长城c";-->
    <!--arr[21] = "薄情b";-->
    <!--arr[22] = "熬夜a";-->
    <!--arr.sort(function (a, b) {-->
      <!--return a.localeCompare(b)-->
    <!--});-->
    <!--var ch = arr[0].charAt(i);-->
    <!--document.getElementById('box').innerHTML = arr;-->
  <!--}-->

<!--</script>-->
<!--<div id="box">-->

<!--</div>-->
<!--<button type="button" onclick="sortFun()">排序</button>-->
<!--</body>-->
<!--</html>-->
