<div class="innerWrap innerWrapperSubDs kaowuWrapper">
    <div class="sub-nav" ng-init="tabActive = 'ksgl'">
        <ul class="nav nav-tabs">
            <li ng-class="{active: tabActive == 'kcgl' }">
                <a href="javascript:void(0)" ng-click="tabActive = 'kcgl';txTpl = 'views/partials/kaochangList.html'">
                    考场管理
                </a>
            </li>
            <li ng-class="{active: tabActive == 'ksgl'}">
                <a href="javascript:void(0)" ng-click="tabActive = 'ksgl';txTpl = 'views/partials/kaoshiList.html'">
                    考试管理
                </a>
            </li>
        </ul>
        <!-- 考务的容器 开始-->
        <div class="tab-content" ng-init="txTpl = 'views/partials/kaoshiList.html'" ng-include="txTpl">

        </div>
        <!-- 考务的容器 结束-->
    </div>
</div>