<div class="innerWrap mingtiWrapper">
    <!--第二级控制面板代码，包含科目和大纲内容。 开始-->
    <div class="subDashboard">
        <h2 class="logo pull-left"><img src="/images/mingti/icon/logo.png" alt=""/></h2>
        <div class="btn-group pointSelect">
            <h2 class="pointTitleBox pull-left" ng-click="loadLingYu()">
                <span class="pointTitle pull-left selectLyName">{{lyList[0].LINGYUMINGCHENG}}</span>
                <span class="caret pull-right"></span>
            </h2>
            <ul class="dropdownMenu lyListBox" ng-hide="keMuList">
                <li ng-repeat="lyItem in lyList">
                    <a href="javascript:void(0)" ng-click="cxKmTx(lyItem)">{{lyItem.LINGYUMINGCHENG}}</a>
                </li>
            </ul>
        </div>
        <div class="btn-group pointSelect">
            <h2 class="pointTitleBox pull-left" ng-click="showDgList(dgList)">
                <span class="pointTitle pull-left selectDgName">{{dgList[0].ZHISHIDAGANGMINGCHENG}}</span>
                <span class="caret pull-right"></span>
            </h2>
            <ul class="dropdownMenu dgListBox" ng-hide="dgListBox">
                <li ng-repeat="dg in dgList">
                    <a href="javascript:void(0)" ng-click="loadDgZsd(dg)">{{dg.ZHISHIDAGANGMINGCHENG}}</a>
                </li>
            </ul>
        </div>
        <div class="pointTree">
            <ul class="list-unstyled levelOne">
                <li ng-repeat="zsd in kowledgeList">
                    <div class="foldBtn pull-left unfoldBtn {{'node' + zsd.JIEDIAN_ID}}" ng-click="toggleChildNode(zsd.JIEDIAN_ID)"></div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="point" value="{{zsd.ZHISHIDIAN_ID}}"
                                   class="{{'select' + zsd.JIEDIAN_ID}}" ng-click="toggleSelection(zsd.JIEDIAN_ID)"/>
                            {{zsd.ZHISHIDIANMINGCHENG}}</label>
                    </div>
                    <ul class="list-unstyled levelTwo">
                        <li ng-repeat="nd2 in zsd.ZIJIEDIAN">
                            <div class="foldBtn pull-left unfoldBtn {{'node' + nd2.JIEDIAN_ID}}" ng-click="toggleChildNode(nd2.JIEDIAN_ID)"></div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="point" value="{{nd2.ZHISHIDIAN_ID}}"
                                           class="{{'select' + nd2.JIEDIAN_ID}}" ng-click="toggleSelection(nd2.JIEDIAN_ID)"/>
                                    {{nd2.ZHISHIDIANMINGCHENG}}</label>
                            </div>
                            <ul class="list-unstyled levelThree">
                                <li ng-repeat="nd3 in nd2.ZIJIEDIAN">
                                    <div class="foldBtn pull-left  {{'node' + nd3.JIEDIAN_ID}}" ng-click="toggleChildNode(nd3.JIEDIAN_ID)"></div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="point" value="{{nd3.ZHISHIDIAN_ID}}"
                                                   class="{{'select' + nd3.JIEDIAN_ID}}" ng-click="toggleSelection(nd3.JIEDIAN_ID)"/>
                                            {{nd3.ZHISHIDIANMINGCHENG}}</label>
                                    </div>
                                    <ul class="list-unstyled levelFour">
                                        <li ng-repeat="nd4 in nd3.ZIJIEDIAN">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="point" value="{{nd4.ZHISHIDIAN_ID}}"
                                                           class="{{'select' + nd4.JIEDIAN_ID}}" ng-click="toggleSelection(nd4.JIEDIAN_ID)"/>
                                                    {{nd4.ZHISHIDIANMINGCHENG}}</label>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <!--第二级控制面板代码，包含科目和大纲内容。 结束-->
    <div class="content">
        <!--添加试题的按钮。开始-->
        <div class="patternWrap">
            <h3 class="addBtn">
                <span class="glyphicon glyphicon-plus-sign"></span>
                <a href="javascript:void(0)" ng-click="patternListToggle = patternListToggle === false ? true: false">添加试题</a>
            </h3>
            <ul class="patternList list-unstyled list-inline"
                ng-init="patternListToggle = false" ng-show="patternListToggle" >
                <li><a href="">单选题</a></li>
                <li><a href="">多选题</a></li>
                <li><a href="">判断题</a></li>
                <li><a href="">填空题</a></li>
                <li><a href="">简答题</a></li>
                <li><a href="">阅读题</a></li>
                <li><a href="">完形填空题</a></li>
            </ul>
        </div>
        <!--添加试题的按钮。结束-->
        <!--题型和难度DOM元素， 开始-->
        <div class="kmTxWrap">
            <div class="kmTxBox">
                <div class="kmtxNdTitle pull-left">
                    <span class="pull-left">题型</span>
                    <a href="javascript:void(0)" class="pull-left text-center">全部题型</a>
                </div>
                <ul class="list-inline kmTxNdList pull-left">
                    <li ng-repeat="kmtx in kmtxList">
                        <a href="javascript:void(0)">{{ kmtx.TIXINGMINGCHENG }}</a>
                   </li>
                </ul>
            </div>
            <div class="nanduBox">
                <div class="kmtxNdTitle pull-left">
                    <span class="pull-left">难度</span>
                    <a href="javascript:void(0)" class="pull-left text-center">全部难度</a>

                </div>
                <ul class="list-inline kmTxNdList pull-left">
                    <li>
                        <a href="javascript:void(0)" ng-click="renderTpl('views/tixing/danxuan.html')">简单</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" ng-click="renderTpl('views/tixing/duoxuan.html')">一般</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">普通</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">困难</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">较难</a>
                    </li>
                </ul>
            </div>
        </div>
        <!--题型和难度DOM元素， 结束-->
        <div class="contentWraps" ng-include="txTpl">

        </div>
    </div>
</div>