<div class="row registerBox">
    <h4 class="logo text-center"><img src="/images/renzheng/icon/logo.png" alt="太安厅"></h4>
    <div class="col-md-10 col-md-offset-1 infoBox">
        <!-- FORM -->
        <form name="userForm" ng-submit="submitForm()" novalidate> <!-- novalidate prevents HTML5 validation since we will be validating ourselves -->
            <ul class="list-unstyled list-inline nav-tabs">
                <li class="active">
                    个人信息
                </li>
                <li>
                    学科选择
                </li>
                <li>
                    确认信息
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane clearfix active">
                    <!-- 用户名 -->
                    <div class="form-group col-md-6">
                        <label>用户名</label>
                        <input type="text" name="yonghuming" placeholder="用户名" tabindex="0" class="form-control"
                               ng-minlength=4 ng-maxlength=30 ng-model="personalInfo.yonghuming" required />
                        <!--p ng-show="userForm.yonghuming.$invalid && !userForm.yonghuming.$pristine" class="help-block">用户名不能为空！</p-->
                        <p ng-show="userForm.yonghuming.$error.minlength" class="help-block">用户名太短了！</p>
                        <p ng-show="userForm.yonghuming.$error.maxlength" class="help-block">用户名太长了!</p>
                    </div>

                    <!-- 密码 -->
                    <div class="form-group col-md-6">
                        <label>密码</label>
                        <input type="password" name="mima" placeholder="密码" tabindex="1" class="form-control regPassword" ng-minlength=6 ng-maxlength=20 ng-model="personalInfo.mima" required />
                        <!--p ng-show="userForm.mima.$invalid && !userForm.mima.$pristine" class="help-block">密码不能为空！</p-->
                        <p ng-show="userForm.mima.$error.minlength" class="help-block">密码太短了！</p>
                        <p ng-show="userForm.mima.$error.maxlength" class="help-block">密码太长了!</p>
                    </div>

                    <!-- 邮箱 -->
                    <div class="form-group col-md-6">
                        <label>邮箱</label>
                        <input type="email" name="youxiang" placeholder="邮箱" tabindex="3" class="form-control" ng-model="personalInfo.youxiang" />
                        <p ng-show="userForm.youxiang.$invalid && !userForm.youxiang.$pristine" class="help-block">请输入有效的邮箱地址！</p>
                    </div>

                    <!-- 确认密码 -->
                    <div class="form-group col-md-6">
                        <label>确认密码</label>
                        <input type="password" name="confirmPassword" ng-model="personalInfo.confirmPassword" password-match="mima" required placeholder="确认密码" tabindex="2" class="form-control" />
                        <span class="help-block" ng-show="userForm.confirmPassword.$unique">确认密码和密码不匹配！</span>
                    </div>

                    <!-- 真实姓名 -->
                    <div class="form-group col-md-6">
                        <label>真实姓名</label>
                        <input type="text" name="xingming" placeholder="真实姓名" tabindex="4" class="form-control"
                               ng-minlength=2 ng-maxlength=30 ng-model="personalInfo.xingming" required />
                        <p ng-show="userForm.xingming.$error.minlength" class="help-block">真实姓名太短了！</p>
                        <p ng-show="userForm.xingming.$error.maxlength" class="help-block">真实姓名太长了!</p>
                    </div>

                    <!-- 手机号码 -->
                    <div class="form-group col-md-6">
                        <label>手机号码</label>
                        <input type="text" name="shouji" placeholder="手机号码" tabindex="5" class="form-control"
                               ng-pattern="/^[1][3458][0-9]{9}$/" ng-model="personalInfo.shouji" />
                        <p ng-show="userForm.shouji.$invalid && !userForm.shouji.$pristine" class="help-block">手机号码格式有误！</p>
                    </div>

                    <div class="form-group col-md-12 pull-left text-right">
                        <button type="button" ng-click="validatePersonalInfo()"
                                ng-disabled="userForm.yonghuming.$invalid && userForm.mima.$invalid && userForm.youxiang.$invalid && userForm.confirmPassword.$invalid && userForm.xingming.$invalid && userForm.shouji.$invalid"
                                class="btn btn-success nextBtn">
                            下一步<span></span>
                        </button>
                    </div>
                </div>
                <div class="tab-pane clearfix">
                    <div class="form-group col-md-6 pull-left">
                        <label><span>机构类别</span><span class="msgBox">此项不能为空！</span></label>
                        <select ng-model="selected_jglb" ng-repeat="lb in jigoulb_list" class="form-control organization">
                            <option>请选择</option>
                            <option value="{{lb.LEIBIE_ID}}">{{lb.LEIBIEMINGCHENG}}</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6 pull-right">
                        <label><span>机构</span><span class="msgBox">此项不能为空！</span></label>
                        <select class="form-control subOrganization" name="jigou">
                            <option>请选择</option>
                        </select>
                    </div>
                    <div class="form-group col-md-12 pull-left">
                        <label><span>学科领域</span><span class="msgBox">此项不能为空！</span></label>
                        <select ng-repeat="ly in lingyu_list" class="form-control myField" name="lingyu">
                            <option>请选择</option>
                            <option value="{{ly.LINGYU_ID}}">{{ly.LINGYUMINGCHENG}}</option>
                        </select>
                    </div>
                    <div class="form-group col-md-12 pull-left objectWrap">
                        <div class="objectWrapSub">
                            <label class="msgLabel"><span>已选科目</span><span class="msgBox">此项不能为空！</span></label>
                            <div class="selectedObject">
                                <div class="selectedObjectBox pull-left">
                                    <div class="selectedObjectList pull-left">
                                        <p class="hide subJuese">

                                        </p>
                                        <div class="pull-left">
                                            <p class="kemumingcheng">
                                                <span>科目名称：</span>
                                                <span class="objectName" tabindex=""></span>
                                            </p>
                                            <p class="kemuquanxian">
                                                <span>角色：</span>
                                                <span class="rightName"></span>
                                            </p>
                                        </div>
                                        <div class="btn-can pull-right text-right">
                                            <!--button type="button" class="btn btn-primary alterSelectedObject">
                                            修改
                                            </button-->
                                            <button type="button" class="btn btn-danger delSelectedObject">
                                                删除
                                            </button>
												<span class="hide radioSelectIndx">
												</span>
                                        </div>
                                    </div>
                                </div>
                                <a href="javascript:void(0)" class="addNewObject"><span class="glyphicon glyphicon-plus-sign"> </span> 新增一个科目 </a>
                            </div>
                        </div>
                        <div class="objectToggleBox">
                            <div class="form-group col-md-12">
                                <label>选择科目</label>
                                <div class="chooseObject">

                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <label>科目权限</label>
                                <div class="chooseRight">
                                    {{eachjueSe}}
                                    <label class="checkbox-inline">
                                        <input type="checkbox" name="rightName" value="{{JUESE_ID}}">
                                        <span>{{JUESEMINGCHENG}}</span>
                                    </label>
                                    {{each}}
                                </div>
                            </div>
                            <div class="form-group col-md-12 text-right">
                                <button type="button" class="btn btn-primary getObjectAndRight">
                                    确定
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-12 pull-left">
                        <button type="button" class="btn btn-success prevBtn pull-left">
                            上一步<span></span>
                        </button>
                        <button type="button" class="btn btn-success nextBtn pull-right">
                            下一步<span></span>
                        </button>
                    </div>
                </div>
                <div class="tab-pane clearfix">
                    <div class="col-md-6">
                        <p>
                            注册信息
                        </p>
                        <p class="text-left">
                            <button type="button" class="btn btn-success prevBtn pull-left">
                                上一步<span></span>
                            </button>
                        </p>
                    </div>
                    <div class="col-md-6">
                        <p>
                            您申请的学科职务需要通过该学科负责人审核之后才可生效，请及时通知学科负责人并耐心等待
                        </p>
                        <p class="text-right">
                            <button type="submit" class="btn btn-success submitBtn">
                                提交<span></span>
                            </button>
                        </p>
                    </div>
                </div>
            </div>
            <input type="text" name="juese" value="" class="jueseVal"/>
        </form>
    </div>
</div>