<div class="row">
    <h4 class="logo text-center"><img src="/images/renzheng/img/icon/logo.png" alt="太安厅"></h4>
    <div class="col-md-4 col-md-offset-2 loginBox">
        {{success}}
        <div class="messageWrap">
            {{success}}
        </div>
        {{ error}}
        <div class="messageWrap">
            {{error}}
        </div>
        <form action="/signin" method="post" enctype="application/x-www-form-urlencoded">
            <div class="form-group">
                <label>用户名/手机/邮箱</small></label>
                <input type="text" class="form-control" name="yonghuming" placeholder="用户名/手机/邮箱">
            </div>
            <div class="form-group">
                <label>密码</label>
                <input type="password" class="form-control" name="mima" placeholder="密码">
            </div>
            <div class="form-group text-right">
                <a href="/register" class="pull-left mt">没有用户名？去注册</a>
                <button type="submit" class="btn btn-success">
                    登陆
                </button>
            </div>
        </form>
    </div>
    <div class="col-md-4 loginWithXh">
        <button type="submit" class="btn btn-primary">
            匿名登陆
        </button>
    </div>
</div>