<div class="innerWrap innerWrapperSubDs tongjiWrapper">
    <div class="testPaperSummary">
        <h2 class="logo pull-left">
            <img src="/images/mingti/icon/logo.png" alt="" width="200" height="32">
        </h2>
        <div class="subjectBox clearfix">
            <h2 class="pull-left" ng-bind="session.defaultLyName">高中物理</h2>
        </div>
        <div class="tj-btn-box pull-left">
            <div class="myAvgScore">
                <span ng-bind="myAvgScore"></span>
            </div>
            <div ng-hide="isTjDetailShow">
                <button type="button" class="btn btn-primary" ng-click="lastKaoShiTongJi()">
                    上次考试统计
                </button>
                <button type="button" class="btn btn-primary" ng-click="lastShiJuanTongJi()">
                    上次试卷统计
                </button>
            </div>
            <div ng-show="isTjDetailShow">
                <button type="button" class="btn btn-primary" ng-click="tjSubShowStudentInfo()"
                        ng-disabled="tjItemName=='考试统计'">
                    分数详情
                </button>
                <button type="button" class="btn btn-primary" ng-click="tjSubShowItemInfo()"
                        ng-disabled="tjItemName=='试卷统计'">
                    易错题目
                </button>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="contentWraps" ng-init="tjTpl = 'views/partials/tj_home.html'" ng-include="tjTpl">
        </div>
    </div>
</div>