<div class="innerWrap innerWrapperSubDs yuejuanWrapper">
    <div class="dagangListWrap">
        <h2 class="logo pull-left"><img src="/images/mingti/icon/logo.png" alt=""/></h2>
        <div class="keMuName">
            <h2>科目名称：</h2>
            <p ng-bind="session.defaultLyName"></p>
        </div>
        <div class="yjInfoBox">

        </div>
    </div>
    <div class="content">
        <div class="contentWraps" ng-init="yjTpl = 'views/partials/yj_home.html'" ng-include="yjTpl">

        </div>
    </div>
</div>